<div ng-controller="histoShopCtrl as histo">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Année <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="year in histo.years"><a href="" ng-show="year" ng-click="SearchByYear(year)">{{::year}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table table-striped table-condensed table-hover table-snack">
        <thead>
          <tr>
            <th>
              Année
            </th>
            <th>
              N° Commande
            </th>
            <th>
              Vendeur
            </th>
            <th>
              Prix
            </th>
            <th>
              Printed
            </th>
            <th>
              Print
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="element in histo.elements | orderBy : '-register_date'" ng-class="{danger: element.printed_client == 0}">
            <td>
              {{::element.year}}
            </td>
            <td>
              {{::element.number}}
            </td>
            <td>
              {{::element.name}}
            </td>
            <td>
              {{::element.total | currency}}
            </td>
            <td>
              {{::element.printed_client > 0 ? 'Oui' : 'Non'}}
            </td>
            <td>
              <button ng-click="Print($index)" class="btn btn-info btn-sm"><i class="fa fa-print" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>