{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "semi": 2
  },
  "globals": {
    "window"        : false,
    "document"      : false,
    "bowser"        : false,
    "Notification"  : false,
    "WOW"           : false,
    "ga"            : false,
    "angular"       : false,
    "expect"        : false,
    "Snap"          : false,
    "$"             : false,
    "tinymce"       : false,
    "URL"           : false,
    "event"         : false,
    "navigator"     : false,
    "caches"        : false,
    "fetch"         : false,
    "localStorage"  : false
  }
}