{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "semi": 2
  },
  "globals": {
    "angular"       : false,
    "expect"       : false,
    "Snap"          : false,
    "$"             : false,
    "tinymce"       : false,
    "localStorage"  : false
  }
}