# Dev Files
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
coverage

# Configuration Cloud9 Files
.c9

# Dependency directory
node_modules
npm-debug.log

# DataBase
data

# Only for Dev
mongod
mongodRepair
mongodShutDown