# Only for Dev
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
coverage
mongod*
mongodRepair*
mongodShutDown*
*.bat
adminMongo
dump*
View/dist
View/css
View/js
View/Style/.sass-cache
View/Style/*.css*
OnlyForCloude9/tmp

# Configuration Cloud9 Files
.c9

# Configuration Visual Code Files
.vscode

# Dependency directory
node_modules
npm-debug.log

# DataBase
data

# Backup
Backup

# Certificat
*.pem
*.csr
certbot-auto