<div ng-controller="arenaCtrl as arena">
  <div class="container cmsEntry">
    <div class="row">
      <div class="titreArticleContent col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
        <h1>
          GAMING ARENA
        </h1>
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>Compétitions E-Sport, jeux de société, challenges…<br/><br/>
          La Gaming Gen level 7, c’est l’occasion de venir vous affronter sur vos jeux et jeux-vidéo préférés ! Nous proposons tout un espace Gaming Arena destiné à la compétition !
          <br/><br/>
          
          <strong>Liste des tournois :</strong>
          <br/>
          Tournois E-Sport
          <br/>
          &nbsp;&nbsp;-	Counter-Strike: Global Offensive <a ui-sref="counterStrike">cliquez ici</a>
          <br/>
          &nbsp;&nbsp;-	FIFA 19 <a ui-sref="fifa19">cliquez ici</a>
          <br/>
          &nbsp;&nbsp;-	Smash Bros Ultimate <a ui-sref="smashBrosUltimate">cliquez ici</a>
          <!--<br/>-->
          <!--&nbsp;&nbsp;-	FIFA 17-->
          <!--<br/>-->
          <!--&nbsp;&nbsp;-	Street Fighter V-->
          <br/><br/>
          
          Autres tournois et concours
          <!--<br/>-->
          <!--&nbsp;&nbsp;-	Cosplay-->
          <!--<br/>-->
          <!--&nbsp;&nbsp;-	Splendor-->
          <!--<br/>-->
          <!--&nbsp;&nbsp;-	Magic-->
          <!--<br/>-->
          <!--&nbsp;&nbsp;-	MahJong-->
          <!--<br/>-->
          <!--&nbsp;&nbsp;-	Quizz Geek-->
          <br/>
          &nbsp;&nbsp;-	Passeport GG7 (voir la page dédiée)
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 imgPlan">
        <a href="../Img/GamingArena/PLAN-ARENA-GG6-OLD.jpg" target="_blank">
          <img src="../Img/GamingArena/PLAN-ARENA-GG6-OLD.jpg">
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid pageCMS vertCMS">
    
    
  <!--  <div class="row cmsBloc blocCMSimgLeft">-->
  <!--    <div class="imgBackground wow fadeInLeft">-->
  <!--      <img src="https://cdn2.nextinpact.com/images/bd/wide-linked-media/4122.jpg"/>-->
  <!--    </div>-->
  <!--    <div class="texte">-->
  <!--      <h2 class="wow fadeInRight" data-wow-delay="0.3s" >CS: GO</h2>-->
  <!--      <p class="wow fadeInRight" data-wow-delay="0.5s">Notre grand tournoi Counter-Strike: Gobal Offensive accueillera 32 équipes de 5 joueurs venus des 4 coins de la France et d’ailleurs !-->
  <!--        <br/><br/>-->
  <!--        160 joueurs prêts à en découdre pour remporter leur part des 5.000€ de lots et de cash-prize qui attendent les meilleures équipes des tournois Elite et Amateur.-->
  <!--        <a ui-sref="counterStrike">Toutes les infos sur le tournoi CS:&nbsp;GO</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
    
    
  <!--  <div class="row cmsBloc blocCMSimgCenterTexteLeft">-->
  <!--    <div class="imgBackground wow fadeInLeft col-lg-6">-->
  <!--      <img src="../Img/GamingArena/ARENA-hearthstone.png"/>-->
  <!--    </div>-->
  <!--    <div class="texte">-->
  <!--      <h2 class="wow fadeInLeft" data-wow-delay="0.3s" >Hearthstone</h2>-->
  <!--      <p class="wow fadeInLeft" data-wow-delay="0.5s">Ce tournoi Hearthstone met à l’honneur l’un des card-games les plus joués au monde.-->
  <!--      <br/>-->
  <!--        Samedi 23 septembre - de 11h–– à 17h - stand 68 / finale sur scène.-->
  <!--        <br/>-->
  <!--        •	60 joueurs.-->
  <!--        <br/>-->
  <!--        •	Matériels à amener : ton téléphone ou tablette et son chargeur + un forfait internet digne de ce nom ! :P-->
  <!--        <br/>-->
  <!--        •	Lots : cashprize + des lots offerts par nos partenaires.-->
  <!--        <br/>-->
  <!--        •	Règlement du tournoi Hearthstone bientôt.-->
  <!--        <a ui-sref="hearthStone">Infos et inscriptions au tournoi Hearthstone</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>-->
    
    
  <!--  <div class="row cmsBloc blocCMSimgLeft">-->
  <!--    <div class="imgBackground wow fadeInLeft">-->
  <!--      <img src="../Img/GamingArena/ARENA-clashroyal.png"/>-->
  <!--    </div>-->
  <!--    <div class="texte">-->
  <!--      <h2 class="wow fadeInRight" data-wow-delay="0.3s" >Clash Royale</h2>-->
  <!--      <p class="wow fadeInRight" data-wow-delay="0.5s">Dimanche 24 septembre – de 10h30 à 16h – stand 68 / finale sur scène-->
  <!--        <br/>-->
  <!--        •	40 joueurs.-->
  <!--        <br/>-->
  <!--        •	Matériels à amener : ton téléphone ou tablette et son chargeur + un forfait internet digne de ce nom ! :P-->
  <!--        <br/>-->
  <!--        •	Lots : cashprize + des lots offerts par nos partenaires.-->
  <!--        <br/>-->
  <!--        •	Règlement du tournoi Clash Royale bientôt.-->
  <!--        <a ui-sref="clashRoyale">Infos et inscriptions au tournoi Clash Royale</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
    
    
  <!--  <div class="row cmsBloc blocCMSimgCenterTexteLeft">-->
  <!--    <div class="imgBackground wow fadeInLeft col-lg-6">-->
  <!--      <img src="../Img/GamingArena/ARENA-fifa.png"/>-->
  <!--    </div>-->
  <!--    <div class="texte">-->
  <!--      <h2 class="wow fadeInLeft" data-wow-delay="0.3s" >FIFA 17</h2>-->
  <!--      <p class="wow fadeInLeft" data-wow-delay="0.5s">-->
  <!--        Un tournoi FIFA 17 (1v1 – PS4), Le jeu de football incontournable. Crochet du gauche, centre tendu au deuxième poteau, demi-volée pleine lulu… C’est ce qu’on attend de vous ! 😉-->
  <!--        <br/>-->
  <!--        4 tournois Fifa durant le week end - stand 64 / finale sur la scène :-->
  <!--        <br/><br/>-->
  <!--        •	Samedi: 12h-14h, 15h-17h et 18h-20h-->
  <!--        <br/>-->
  <!--        •	Dimanche: 11h-13h (Finale)-->
  <!--        <br/>-->
  <!--        •	Entre 16 et 32 joueurs par tournoi / inscription sur palce-->
  <!--        <br/>-->
  <!--        •	Lots : offerts par notre partenaire Rush on Game !!-->
  <!--        <br/>-->
  <!--        •	Règlement du tournoi FIFA sur place.-->
  <!--        <a href="https://www.rushongame.com/">Infos et inscriptions au tournoi FIFA 17</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>-->
    
  <!--  <div class="row cmsBloc blocCMSimgLeft">-->
  <!--    <div class="imgBackground wow fadeInLeft">-->
  <!--      <img src="../Img/GamingArena/ARENA-streetfighter.png"/>-->
  <!--    </div>-->
  <!--    <div class="texte">-->
  <!--      <h2 class="wow fadeInRight" data-wow-delay="0.3s" >Street Fighter V</h2>-->
  <!--      <p class="wow fadeInRight" data-wow-delay="0.5s">Ce tournoi SFV, c’est pour les fans de castagnes digitales qui ne demandent qu’à s’affronter en 1 contre 1 !-->
  <!--        <br/>-->
  <!--        Samedi 23 septembre – de 13h à 17h sur le Stand 6 - Meltdown Aix-en-Provence-->
  <!--        <br/>-->
  <!--        •	32 joueurs.-->
  <!--        <br/>-->
  <!--        •	Matériels à amener : ta manette ou, encore mieux, ton pad !-->
  <!--        <br/>-->
  <!--        •	Lots : offerts par le Meltdown Aix-en-Provence.-->
  <!--        <br/>-->
  <!--        •	Règlement sur place.-->
          <!--<a href="#">Infos et inscriptions au tournoi Street Fighter V</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
    
    
  <!--  <div class="row cmsBloc blocCMSimgCenterTexteLeft">-->
  <!--    <div class="imgBackground wow fadeInLeft col-lg-6">-->
  <!--      <img src="../Img/GamingArena/ARENA-tekken.jpg"/>-->
  <!--    </div>-->
  <!--    <div class="texte">-->
  <!--      <h2 class="wow fadeInLeft" data-wow-delay="0.3s" >Tekken 7</h2>-->
  <!--      <p class="wow fadeInLeft" data-wow-delay="0.5s">Tekken 7, c'est le jeu de baston du moment, venez vous affrontez pour des combats haut en couleur !-->
  <!--        <br/>-->
  <!--        •	Dimanche 24 septembre - de 13h à 17h - stand 6 Meltdown Aix-en-Provence-->
  <!--        <br/>-->
  <!--        •	Lots : offerts par le Meltdown Aix-en-Provence-->
  <!--        <br/>-->
  <!--        •	Règlement sur place-->
          <!--<a href="#">Infos et inscriptions au tournoi Super Smash Bros Melee</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>-->
    
  <!--  <div class="row cmsBloc blocCMSimgLeft">-->
  <!--    <div class="imgBackground wow fadeInLeft">-->
  <!--      <img src="../Img/GamingArena/ARENA-cosplay.png"/>-->
  <!--    </div>-->
  <!--    <div class="texte">-->
  <!--      <h2 class="wow fadeInRight" data-wow-delay="0.3s" >Concours de Cosplay</h2>-->
  <!--      <p class="wow fadeInRight" data-wow-delay="0.5s">Un concours de Cosplay fait pour les passionnés qui veulent exprimer leur créativité, et les puristes qui vont tout donner pour remporter les votes du jury !-->
  <!--        <br/>-->
  <!--        Dimanche 24 septembre – de 11h à 14h – défilé dans les allées du festival puis représentation sur scène.-->
  <!--        <br/>-->
  <!--        •	Tout le monde peut participer !-->
  <!--        <br/>-->
  <!--        •	Salle dédiée pour te préparer et laisser tes affaires.-->
  <!--        <br/>-->
  <!--        •	Lots offerts par nos partenaires à gagner.-->
  <!--        <a ui-sref="article({ id: '59af28318f73df5618a1bcf4' })">Cliquez ici pour en savoir plus</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
    
    
  <!--  <div class="row cmsBloc blocCMSimgCenterTexteLeft">-->
  <!--    <div class="imgBackground wow fadeInLeft col-lg-6">-->
  <!--      <img src="../Img/GamingArena/ARENA-splendor.png"/>-->
  <!--    </div>-->
  <!--    <div class="texte">-->
  <!--      <h2 class="wow fadeInLeft" data-wow-delay="0.3s" >Splendor</h2>-->
  <!--      <p class="wow fadeInLeft" data-wow-delay="0.5s">Ce tournoi Splendor fera la part belle à ce magnifique jeu de plateau. La Gaming Gen level 7, festival du Jeu de Gardanne : cadre idéal pour ce tournoi Splendor !-->
  <!--        <br/>-->
  <!--        Dimanche 24 septembre – de 10h30 à 14h - Stand 61-->
  <!--        <br/>-->
  <!--        •	32 joueurs.-->
  <!--        <br/>-->
  <!--        •	Lots offerts par nos partenaires.-->
  <!--        <br/>-->
  <!--        •	Règlement sur place-->
          <!--<a href="#">Infos et inscriptions au tournoi Splendor</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>-->
    
      <!--<div class="imgBackground wow fadeInLeft">-->
      <!--  <img src="../Img/GamingArena/ARENA-magic.png"/>-->
      <!--</div>-->
      <!--<div class="texte">-->
      <!--  <h2 class="wow fadeInRight" data-wow-delay="0.3s" >Magic</h2>-->
      <!--  <p class="wow fadeInRight" data-wow-delay="0.5s">On ne présente plus ce mythique jeu de cartes : Magic The Gathering. Venez affronter de redoutables joueurs lors de ce tournoi Magic Gaming Gen level 7 !<br/>-->
      <!--    Samedi 23 septembre – de 16h à 19h.<br/>-->
      <!--    •	32 joueurs.<br/>-->
      <!--    •	Matériels à amener : ton deck !<br/>-->
      <!--    •	Lots : le deck que tu as ouvert + des lots offerts par nos partenaires.<br/>-->
      <!--    •	Règlement du tournoi Magic bientôt.-->
          <!--<a href="#">Infos et inscriptions au tournoi Concours de Magic</a>-->
      <!--  </p>-->
      <!--</div>-->
  <!--  <div class="row cmsBloc blocCMSimgLeft">-->
  <!--    <div class="imgBackground wow fadeInLeft col-lg-6">-->
  <!--      <img src="../Img/GamingArena/ARENA-mahjong.png"/>-->
  <!--    </div>-->
  <!--    <div class="texte">-->
  <!--      <h2 class="wow fadeInLeft" data-wow-delay="0.3s" >MahJong</h2>-->
  <!--      <p class="wow fadeInLeft" data-wow-delay="0.5s">Initiation et tournoi de MahJong : ce jeu asiatique ancestral qui compte de nombreux adeptes en France.-->
  <!--        <br/>-->
  <!--        Samedi 23 septembre – de 13h à 18h.-->
  <!--        <br/>-->
  <!--        •	32 joueurs.-->
  <!--        <br/>-->
  <!--        •	Lots offerts par nos partenaires.-->
  <!--        <br/>-->
  <!--        •	Règlement sur place.-->
          <!--<a href="#">Infos et inscriptions au tournoi MahJong</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
    
    
  <!--  <div class="row cmsBloc blocCMSimgCenterTexteLeft">-->
  <!--    <div class="imgBackground wow fadeInLeft">-->
  <!--      <img src="../Img/GamingArena/ARENA-quizz.png"/>-->
  <!--    </div>-->
  <!--    <div class="texte">-->
  <!--      <h2 class="wow fadeInRight" data-wow-delay="0.3s" >Quizz Geek</h2>-->
  <!--      <p class="wow fadeInRight" data-wow-delay="0.5s">Tu es incollable sur la saga Star Wars, l’univers Marvel, les histoires de la Terre du Milieu, les aventures de Son Goku et Naruto ?-->
  <!--        <br/>-->
  <!--        Viens te tester sur ce Quizz Geek !-->
  <!--        <br/>-->
  <!--        Samedi 23 septembre – sur scène.-->
  <!--        <br/>-->
  <!--        •	Lots offerts par nos partenaires.-->
  <!--        <br/>-->
          <!--<a href="#">Infos et inscriptions au tournoi Concours de Quizz Geek</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>-->
    
  <!--  <div class="row cmsBloc blocCMSimgLeft">-->
  <!--    <div class="imgBackground wow fadeInLeft col-lg-6">-->
  <!--      <img src="../Img/GamingArena/ARENA-passeport.png"/>-->
  <!--    </div>-->
  <!--    <div class="texte">-->
  <!--      <h2 class="wow fadeInLeft" data-wow-delay="0.3s" >Passeport GG6 </h2>-->
  <!--      <p class="wow fadeInLeft" data-wow-delay="0.5s">Durant la Gaming Gen level 7, tu vas pouvoir découvrir l’univers d’un véritable festival du jeu ! Explore les 70 stands, participe aux dizaines d’animations, et récolte le plus de tampons possibles sur ton Passeport GG6 auprès des partenaires participants à l’opération !-->
  <!--        <br/>-->
  <!--        Plus tu obtiens de tampons, plus tu pourras remporter des lots offerts par nos partenaires ! Et c’est GRATUIT ! :D-->
  <!--        <br/>-->
  <!--        •	Demande ton "Passeport GG6" à l’Accueil ou au Point Info.-->
  <!--        <br/>-->
  <!--        •	Lots offerts par nos partenaires.-->
  <!--        <a ui-sref="article({ id: '59b50fec5219cd0addcd19e6' })">Cliquez ici pour en savoir plus</a>-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->
    
    
    <!--<div class="row cmsBloc blocCMSimgCenterTexteLeft">-->
    <!--</div>-->
    
  <!--  <br/><br/>-->
  <!--  <div class="instafeed row hidden-xs">-->
  <!--    <div class="first-case">-->
  <!--      <a href="https://www.instagram.com/gaming_gen_festival/" target="_blank">-->
  <!--        <h1>DON'T FEED</h1>-->
  <!--        <h2>@gaming_gen_festival</h2>-->
  <!--      </a>-->
  <!--    </div>-->
  <!--      <script src="https://snapwidget.com/js/snapwidget.js"></script>-->
  <!--      <iframe src="https://snapwidget.com/embed/359548" class="snapwidget-widget hidden-xs" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>      -->
  <!--  </div>-->
  </div>
</div>
