<div ng-controller="">
    <div class="container-fluid">
        <div class="row">
            <div class="titreArticleContent orangeFill col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
                <h1>
                  GAMING WORLD
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="imgGame col-xs-7">   
              <img width="100%" src="https://images.g2a.com/images/1024x768/1x1x0/42dc183c3746/5911c0ae5bafe375fc0cd699">
            </div>
            <div class="sentenceGame col-xs-5">   
                <span>
                  <strong>
                    160 joueurs BYOC
                  </strong>
              	</span>
                <h2>
                    ESWC Master Series
                </h2>
                <p>
                    La salle sera ouverte de 18h à 20h.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-8">
                <div class="toggleWrap">
                    <div class="titleToggle" data-toggle="collapse" data-target="#demo">
                        INFOS
                    </div>
                    <div class="showToggle collapse" id="demo">
                        Quisque interdum vehicula scelerisque. 
                        Vivamus urna risus, facilisis a nunc a, 
                        aliquet scelerisque ligula. Nullam lectus purus, 
                        maximus ac ultricies pellentesque, feugiat imperdiet metus. 
                        Fusce risus eros, dapibus in interdum vel, sagittis eu ante. 
                        Praesent luctus luctus condimentum. 
                        Mauris laoreet ultrices dui tincidunt fringilla. 
                        Curabitur finibus justo ex, et bibendum elit mollis in.
                    </div>
                  <div class="titleToggle" data-toggle="collapse" data-target="#demo2">
                        MATOS
                    </div>
                    <div class="showToggle collapse" id="demo2">
                        Quisque interdum vehicula scelerisque. 
                        Vivamus urna risus, facilisis a nunc a, 
                        aliquet scelerisque ligula. Nullam lectus purus, 
                        maximus ac ultricies pellentesque, feugiat imperdiet metus. 
                        Fusce risus eros, dapibus in interdum vel, sagittis eu ante. 
                        Praesent luctus luctus condimentum. 
                        Mauris laoreet ultrices dui tincidunt fringilla. 
                        Curabitur finibus justo ex, et bibendum elit mollis in.
                    </div>
                </div>
            </div>
            <div class="col-xs-3 reminderGame">
                <h1>QUE DOIS-JE PRENDRE ?</h1>
                <p>TOUR</p>
                <p>TOUR</p>
                <p>TOUR</p>
                <p>TOUR</p>
                <p>TOUR</p>
                <p>TOUR</p>
                <p>TOUR</p>
                <p>TOUR</p>
                <p>TOUR</p>
            </div>
        </div>
    </div>
</div>