<div ng-controller="festivalCtrl as fertival">
  <div class="container">
    <div class="row">
      <div class="titreArticleContent col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
        <h1>
          GAMING WORLD
        </h1>
      </div>
    </div>
    <br/><br/>
    <div class="row col-md-8">
      Plus de 70 stands et des dizaines d’animations liés à la culture Geek, des jeux de société aux jeux
      vidéo, du ‘old-school’ aux nouvelles technologies, de la ludothèque pour les tout petits aux jeux de
      combats... Il y en aura pour tous les goûts !
    </div>
  </div>
  <div class="container-fluid pageCMS orangeCMS">
    <div class="row cmsBloc blocCMSimgLeft">
      <div class="imgBackground wow fadeInLeft">
        <img src="https://img15.hostingpics.net/pics/8263551349559110882350012491889184047651821575575o.jpg"/>
      </div>
      <div class="texte">
        <h2 class="wow fadeInRight" data-wow-delay="0.3s" >LA GAMING GEN, LEVEL 6 : EN APPROCHE !</h2>
        <p class="wow fadeInRight" data-wow-delay="0.5s">Les 23 et 24 septembre 2014
          à la Halle de Gardanne<br/>
          Samedi 10h-20h / Dimanche : 10h-18h<br/>
          Tarif : 5€ par personne / Gratuit pour les -12ans<br/>
          Gaming World : profitez des dizaines de stands et d’animations liés à la culture Geek, Gaming et High Tech.<br/>
          Gaming Jobs : rencontrez des écoles qui vous forment aux métiers du Numérique, ainsi que des entreprises qui recrutent.<br/>
          Gaming Arena : entrez dans la compétition et participer à nos tournois de jeux et jeux-vidéo.
          <!--<a href="#">Infos GAMING GEN, LEVEL 6</a>-->
        </p>
      </div>
    </div>
    
    
    <div class="row cmsBloc blocCMSimgCenterTexteLeft">
      <div class="imgBackground wow fadeInLeft col-lg-6">
        <img src="https://cdn.dribbble.com/users/71890/screenshots/2267188/tech_geek_logo.jpg"/>
      </div>
      <div class="texte">
        <h2 class="wow fadeInLeft" data-wow-delay="0.3s" >GEEK</h2>
        <p class="wow fadeInLeft" data-wow-delay="0.5s">A la Gaming Gen level 6, la culture Geek c’est… du Cosplay, des jeux de sociétés et des jeux de rôles, des escape rooms, des goodies et produits dérivés issus de nos séries, films, livres, jeux préférés, des créateurs tout aussi geeks...<br/>
          Un paquet d’animations, de stands, boutiques pour satisfaire la soif du geek !
          <!--<a href="#">Infos GEEK</a></p>-->
      </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
    
    <div class="row cmsBloc blocCMSimgLeft">
      <div class="imgBackground wow fadeInLeft">
        <img src="https://pbs.twimg.com/profile_images/636940685246119936/FzVSZZlE.png"/>
      </div>
      <div class="texte">
        <h2 class="wow fadeInRight" data-wow-delay="0.3s" >GAMING</h2>
        <p class="wow fadeInRight" data-wow-delay="0.5s">Jeux vidéo en accès libres et en tournois : des tonnes de retro-gaming et des bornes d’arcade pour les nostalgiques et passionnés, FIFA pour les amoureux du ballon rond, Street Fighter pour les castagneurs, Forza pour les fous du volant, de la VR ou Réalité Virtuelle en français pour plus d’immersion (découverte d’Oculus Rift et HTC Vive).<br/>
          Et 3 grands tournois #eSport (sport électronique) : 32 équipes de Counter-Strike: Global Offensive (inscription tournoi CS: GO), 32 joueurs Hearthstone (inscription sur place) et 32 joueurs Clash Royale (inscription sur place).
          <!--<a href="#">Infos GAMING</a>-->
        </p>
      </div>
    </div>
    
    
    <div class="row cmsBloc blocCMSimgCenterTexteLeft">
      <div class="imgBackground wow fadeInLeft col-lg-6">
        <img src="https://img15.hostingpics.net/pics/9960311565833343721933021431864842945n.jpg"/>
      </div>
      <div class="texte">
        <h2 class="wow fadeInLeft" data-wow-delay="0.3s" >FAMILY</h2>
        <p class="wow fadeInLeft" data-wow-delay="0.5s">La Gaming Gen level 6 propose aussi des animations pour les plus petits joueurs. Un coin ludothèque adapté sera aménagé, avec des jeux ludiques.<br/>
          Des studios indépendants viendront également présenter leurs jeux et jeux-vidéos dédiés aux enfants.
          <!--<a href="#">Infos FAMILY</a></p>-->
      </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
    
    <div class="row cmsBloc blocCMSimgLeft">
      <div class="imgBackground wow fadeInLeft">
        <img src="https://www.helicomicro.com/wp-content/uploads/2017/04/dji-spark-leak-03.jpg"/>
      </div>
      <div class="texte">
        <h2 class="wow fadeInRight" data-wow-delay="0.3s" >HIGH TECH</h2>
        <p class="wow fadeInRight" data-wow-delay="0.5s">Bienvenue dans le futur ! La #GamingGen6 vous permettra de découvrir toute l’innovation des drones, de la Réalité Virtuelle et des robots ! Mais aussi de tous les matériels de gamers.
          <!--<a href="#">Infos HIGH TECH</a>-->
        </p>
      </div>
    </div>
    
    
    <div class="row cmsBloc blocCMSimgCenterTexteLeft">
      <div class="imgBackground wow fadeInLeft col-lg-6">
        <img src="https://www.gramlee.com/images/job-openings.png"/>
      </div>
      <div class="texte">
        <h2 class="wow fadeInLeft" data-wow-delay="0.3s" >GAMING JOBS</h2>
        <p class="wow fadeInLeft" data-wow-delay="0.5s">Vous rêvez de faire carrière dans le jeu, le jeux-vidéo ou le digital ?<br/>
          Venez rencontrer les écoles spécialisées dans ces métiers de demain : game designer, développeur, community manager… Tous les métiers du numérique seront représentés !<br/>
          A la recherche du métier de vos rêves ? Des entreprises seront présentes pour recruter ! #JobDating
          <!--<a href="#">Infos GAMING JOBS</a></p>-->
      </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
    
    <div class="row cmsBloc blocCMSimgLeft">
      <div class="imgBackground wow fadeInLeft">
        <img src="https://img15.hostingpics.net/pics/3353201349063910882566045803614447046977984416944o.jpg"/>
      </div>
      <div class="texte">
        <h2 class="wow fadeInRight" data-wow-delay="0.3s" >JEUX DE TABLE</h2>
        <p class="wow fadeInRight" data-wow-delay="0.5s">Quand on parle de Jeu, on pense forcément aux jeux de société, jeux de plateaux, jeux de rôle, jeux de cartes…<br/>
          Durant la Gaming Gen level 6, venez faire une partie de Splendor, participer à un tournoi Magic, ou découvrir les tous nouveaux jeux !
          <!--<a href="#">Infos JEUX DE TABLE</a>-->
        </p>
      </div>
    </div>
    
    
    <div class="row cmsBloc blocCMSimgCenterTexteLeft">
      <div class="imgBackground wow fadeInLeft col-lg-6">
        <img src="http://storage.programme-streaming.tv/1/gwEvNUan4IhEermfmL92uATls1OyuAKk.jpg"/>
      </div>
      <div class="texte">
        <h2 class="wow fadeInLeft" data-wow-delay="0.3s" >RETOUR SUR LA GAMING GEN 5 !</h2>
        <p class="wow fadeInLeft" data-wow-delay="0.5s">La Gaming Gen 5 / Festival du Jeu de Gardanne a eu lieu les 23 et 24 avril 2016 à la Halle de Gardanne.<br/>
          Un beau succès : 2.000 visiteurs, 40 exposants, 300 compétiteurs sur nos 7 tournois (dont un grand tournoi LAN sur CS: GO), 60 bénévoles pour vous servir.<br/>
          <!--<a href="https://gallery.mailchimp.com/c0af640ab8010a0ce3157e0c1/files/GG5_Review.pdf">>> Voir la Review de la GG5</a><br/>-->
          <!--<a href="https://www.facebook.com/pg/gaming.gen.festival/photos/?tab=album&album_id=1048906261848729">>> Voir les photos de la GG5</a><br/>-->
          <!-- >> Voir le plan de la GG5-->
          <!--<a href="#">Infos RETOUR SUR LA GAMING GEN 5 !</a></p>-->
      </div>
    </div>
    
    
    <!--<div class="row cmsBloc blocCMSimgRight">-->
    <!--  <div class="imgBackground wow fadeInLeft col-lg-6">-->
    <!--    <img src="http://news.cdn.leagueoflegends.com/public/images/misc/Background.jpg"/>-->
    <!--  </div>-->
    <!--  <div class="texte">-->
    <!--      <h2 class="wow fadeInRight" data-wow-delay="0.3s" >League Of Legends</h2>-->
    <!--      <p class="wow fadeInRight" data-wow-delay="0.5s">In et congue massa. Aliquam facilisis sem libero. Sed bibendum lobortis nisi ac semper. In bibendum sem ut nibh cursus, quis blandit magna lacinia. <br/>Cras sagittis gravida ex, bibendum efficitur erat facilisis et. Integer ut volutpat mi, id iaculis mi. <br/><br/>Morbi commodo cursus arcu eget facilisis. Pellentesque pulvinar sed sapien ac mollis. Donec ultricies risus purus, sit amet sagittis quam porttitor vel. Vivamus et libero molestie felis fringilla pulvinar. Duis lacinia ipsum lorem, a consectetur urna viverra a.<br/><br/> Pellentesque ornare eu eros eu consectetur. Pellentesque mollis sem ut urna volutpat interdum. Praesent vulputate, velit non hendrerit eleifend, massa risus viverra augue, at malesuada turpis nibh nec purus.<a href="#">Infos et inscriptions au tournoi LoL</a>-->
    <!--    </p>-->
    <!--  </div>-->
    <!--</div>-->
    
    
    <!--<div class="row cmsBloc blocCMSimgCenterTexteRight">-->
    <!--  <div class="imgBackground wow fadeInLeft col-lg-6">-->
    <!--    <img src="http://www.numerama.com/content/uploads/2016/05/ow.jpg"/>-->
    <!--  </div>-->
    <!--  <div class="texte">-->
    <!--      <h2 class="wow fadeInRight" data-wow-delay="0.3s" >Overwatch</h2>-->
    <!--      <p class="wow fadeInRight" data-wow-delay="0.5s">In et congue massa. Aliquam facilisis sem libero. Sed bibendum lobortis nisi ac semper. In bibendum sem ut nibh cursus, quis blandit magna lacinia.<a href="#">Infos et inscriptions au tournoi Overwatch</a></p>-->
    <!--  </div>-->
    <!--</div>-->
    
    
    <div class="instafeed row">
      <div class="first-case">
        <a href="https://www.instagram.com/gaming_gen_festival/" target="_blank">
          <h1>DON'T FEED</h1>
          <h2>@gaming_gen_festival</h2>
        </a>
      </div>
        <script src="https://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="https://snapwidget.com/embed/359548" class="snapwidget-widget hidden-xs" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>      
    </div>
  </div>
</div>
