<div ng-controller="festivalCtrl as fertival">
  <div class="container">
    <div class="row">
      <div class="titreArticleContent col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
        <h1>
          GAMING WORLD
        </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid pageCMS orangeCMS">
    <div class="row cmsBloc blocCMSimgLeft">
      
      <div class="imgBackground wow fadeInLeft">
        <img src="https://cdn2.nextinpact.com/images/bd/wide-linked-media/4122.jpg"/>
      </div>
      <div class="texte">
          <h2 class="wow fadeInRight" data-wow-delay="0.3s" >CS: GO</h2>
          <p class="wow fadeInRight" data-wow-delay="0.5s">Notre grand tournoi Counter-Strike: Gobal Offensive accueillera 32 équipes de 5 joueurs venus des 4 coins de la France et d’ailleurs ! <br/><br/>
    160 joueurs prêts à en découdre pour remporter leur part des 5.000€ de lots et de cash-prize qui attendent les meilleures équipes des tournois Elite et Amateur.
            <a href="#">Infos et inscriptions au tournoi CS:&nbsp;GO</a>
    </p>
      </div>
    </div>
    <div class="row cmsBloc blocCMSimgRight">
      
      <div class="imgBackground wow fadeInLeft col-lg-6">
        <img src="http://news.cdn.leagueoflegends.com/public/images/misc/Background.jpg"/>
      </div>
      <div class="texte">
          <h2 class="wow fadeInRight" data-wow-delay="0.3s" >League Of Legends</h2>
          <p class="wow fadeInRight" data-wow-delay="0.5s">In et congue massa. Aliquam facilisis sem libero. Sed bibendum lobortis nisi ac semper. In bibendum sem ut nibh cursus, quis blandit magna lacinia. <br/>Cras sagittis gravida ex, bibendum efficitur erat facilisis et. Integer ut volutpat mi, id iaculis mi. <br/><br/>Morbi commodo cursus arcu eget facilisis. Pellentesque pulvinar sed sapien ac mollis. Donec ultricies risus purus, sit amet sagittis quam porttitor vel. Vivamus et libero molestie felis fringilla pulvinar. Duis lacinia ipsum lorem, a consectetur urna viverra a.<br/><br/> Pellentesque ornare eu eros eu consectetur. Pellentesque mollis sem ut urna volutpat interdum. Praesent vulputate, velit non hendrerit eleifend, massa risus viverra augue, at malesuada turpis nibh nec purus.<a href="#">Infos et inscriptions au tournoi LoL</a>
        </p>
      </div>
    </div>
    <div class="row cmsBloc blocCMSimgCenterTexteRight">
      
      <div class="imgBackground wow fadeInLeft col-lg-6">
        <img src="http://www.numerama.com/content/uploads/2016/05/ow.jpg"/>
      </div>
      <div class="texte">
          <h2 class="wow fadeInRight" data-wow-delay="0.3s" >Overwatch</h2>
          <p class="wow fadeInRight" data-wow-delay="0.5s">In et congue massa. Aliquam facilisis sem libero. Sed bibendum lobortis nisi ac semper. In bibendum sem ut nibh cursus, quis blandit magna lacinia.<a href="#">Infos et inscriptions au tournoi Overwatch</a></p>
      </div>
    </div>
    <div class="row cmsBloc blocCMSimgCenterTexteLeft">
      
      <div class="imgBackground wow fadeInLeft col-lg-6">
        <img src="https://hearthstone-a.akamaihd.net/images/backgroundart-5c8ac3475d31852a10a8b99a63cc9c38e34ea68f526ecb65ac80705ae27f497bfc0bc2de7fcf7e582c66c9be55c7efd5b3414e9c148104adf571f2be7e0a5d95.jpg"/>
      </div>
      <div class="texte">
          <h2 class="wow fadeInLeft" data-wow-delay="0.3s" >Hearthstone</h2>
          <p class="wow fadeInLeft" data-wow-delay="0.5s">In et congue massa. Aliquam facilisis sem libero.<a href="#">Infos et inscriptions au tournoi Hearthstone</a></p>
      </div>
    </div>
  </div>
</div>
