<div class="" ng-controller="homeCtrl as news">
  <div class="triprez">
    <div class="box boxleft">
      <div class="boxorange"></div>
      <a ui-sref="#">
        <div class="textBoxOrange">
          <span class="orangetxt smalltxt">Découvrez</span>
          <span class="orangetxt">LE</span> FESTIVAL<br/>
          <span class="orangetxt">DU</span> JEU
        </div>
      </a>
    </div>
    <div class="box boxmid">
      <div class="boxvert"></div>
      <a ui-sref="#">
        <div class="textBoxVert">
          <span class="verttxt smalltxt">Entrez</span>
          <span class="verttxt">DANS LA</span><br/> 
          COMPÉTITION
        </div>
      </a>
    </div>
    <div class="box boxright">
        <a ui-sref="#">
        <div class="infosprochaine"></div>
        <span class="smalltxt">
            Notre prochaine apparition :<br/>
        </span>
          <span class="orangetxt">
            HERO<br/>FESTIVAL<br/>
          </span> 
          <span class="infosprochaineapparition smalltxt"> Le 28 septembre</span><span class="infosprochaineapparition smalltxt">au parc chanot</span><span class="infosprochaineapparition smalltxt"> à Marseille</span>
          </span>
        <div id="particles-js"></div>
      </a>
    </div>
    <div class="scrolldown">
      <a href="" ng-click="scrollTo('Articles')"><img ng-src="../Img/General/flechedown.png"></a>
    </div>
  </div>
  <div class="container">
    <div class="toparticles row">
      <div id="Articles" class="titresectionarticles col-sm-12 col-md-12 col-lg-8 col-lg-offset-2" >
        <h1 class="col-sm-12 col-md-6 col-lg-2">Quoi de neuf, gamers&nbsp;?</h1>
        <h2 class="col-sm-12 col-md-6 col-lg-4">Toutes les news<br/> de la gaming gen<br/> et du monde du gaming</h2>
      </div>
    </div>
    <div ng-repeat="article in news.articles | limitTo : 4" >
      <div ng-class="{ 'firstThumbNews col-xs-12 col-lg-8' : $index === 0, 'otherThumbNews col-xs-12 col-sm-6 col-lg-4' : $index > 0 }">
        <a type="button" class="lirearticle" ui-sref="article({ id: article.id })">
          <span class="wrapperPreviewNews">
            <h1>{{article.title}}</h1>
            <h2 class="previewTextThumbNews">
              <span class="categoryListNews" ng-show="article.type.hot_news">Hot news</span>
              <span class="categoryListNews" ng-show="article.type.critical_info">Info cruciale</span>
              <span class="ng-binding">{{article.register_date | date : 'MMMM yyyy'}}</span>
            </h2>
          </span>
          {{article.desc}}...
          <img class="imgThumbNews" ng-src="{{article.picture || news.defaultPicture}}" alt="{{article.desc}}">
        </a>
      </div>
    </div>
    <div class="otherThumbNews col-xs-12 col-sm-6 col-lg-4">
      <a ui-sref="news">
        <span class="wrapperPreviewNews">
          <h1>Le reste des articles</h1>
        </span>
        <img class="imgThumbNews" ng-src="{{news.moreArticles || news.defaultPicture}}" alt="Le reste des articles">
      </a>
    </div>
  </div>
  <div class="lesjoueursledisent">
    <p>Les joueurs le disent<img ng-src="../Img/General/flecheangle.svg"></p>
  </div>
  <div class="titrefeedback">
    MERCI<img ng-src="../Img/General/coeur.svg">
  </div>
  <div class="blocdesfeedback">
    <span>
      <h5>"CA SENT TRES BON DANS CETTE LAN"</h5>
      <h6>Kamel Chebat</h6>
      <img ng-src="../Img/finbulle.png">
    </span>
  </div>
  <div class="instafeed row">
    <div class="first-case">
      <h1>DON'T FEED</h1>
      <h2>@gaming_gen_festival</h2>
    </div>
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/359548" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>      
    </div>
  </div>
</div>