<div ng-controller="legalNoticeCtrl as legalNotice">
  <div class="container">
    <div class="row">
      <div class="titreArticleContent col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
        <h1>
          MENTIONS LÉGALES
        </h1>
      </div>
    </div>
    <br/><br/>
    <div class="row col-md-8">
      <h4>Association loi 1901 : Gaming Generation<br/><br/>

Objet : Organisation d’évènements festifs liés à l’univers du Jeu, dont le Festival du Jeu de Gardanne.<br/>

Adresse e-mail : contact@gaming-gen.fr<br/>

Siège social : n°2, cité centrale 1 – 13120 Gardanne<br/><br/>

Directeur de la publication : Pierre CHATELAIN<br/>

Identifiant SIREN : 790 390 009 / <br/>Identifiant SIRET du siège : 790 390 009 00013<br/><br/>

 

Coordonnées de l’hébergeur :<br/><br/> GANDI SAS, Société par Actions Simplifiée au capital de 300.000€ ayant son siège social au 
63-65 boulevard Massena à Paris (75013) FRANCE, 
immatriculée sous le numéro 423 093 459 RCS PARIS<br/> 
N° TVA FR81423093459<br/> 
Téléphone : +33.(0) 1 70.37.76.61<br/> 
Télécopie +33.(0) 1 43 73 18 51<br/> <br/>

Nous contacter : direction@gandi.net<br/> <br/>

 

Copyright @ Gaming Generation 2007-2015 - Valide W3C - All rights reserved.<br/><br/>

Design by <a href="http://ben.rethore.im/" target="_blank"> Benjamin Réthoré</a> and development by <a href="http://www.barbush.fr" target="_blank">Guazzini Frédéric</a></h4>
    </div>
  </div>
</div>
