<div class="well" ng-controller="liveCtrl as live">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Live GAMING GEN <span>- WIP !</span>
          <br/>
          <!--<small>-->
          <!--  Le site de la Gaming Gen fait peau neuve-->
          <!--</small>-->
        </h1>
      </div>
      
      <div ng-show="!($parent.live.Youtube || $parent.live.Twitch)">
        <img ng-src="../Img/Live/LiveInPause2.jpg" class="img-rounded img-responsive" alt="Responsive image"></img>
      </div>
      
      <div ng-if="$parent.live.Youtube">
        <!-- Use 'youtube-video' as an element or attribute. -->
        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video video-id="youtubeLive" player="bestPlayer" player-vars="playerVars"></youtube-video>
        </div>
      </div>
      
      <div ng-if="$parent.live.Twitch">
        <div class="embed-responsive embed-responsive-16by9">
          <div id="TwitchPlayer"></div>
        </div>
        
        <div class="well chat hidden-sm hidden-xs">
          <iframe ng-src="{{chatChannel}}" frameborder="0" scrolling="no" height="500" width="340"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
