<div class="well" ng-controller="liveCtrl as live">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Live GAMING GEN <span>- WIP !</span>
          <br/>
          <!--<small>-->
          <!--  Le site de la Gaming Gen fait peau neuve-->
          <!--</small>-->
        </h1>
      </div>
      
      <div ng-show="!$parent.live">
        <img src="../Img/Live/LiveInPause.png" class="img-rounded img-responsive" alt="Responsive image"></img>
      </div>
      
      <div ng-if="$parent.live" class="embed-responsive embed-responsive-16by9">
        <!-- Use 'youtube-video' as an element or attribute. -->
        <youtube-video video-id="youtubeLive" player="bestPlayer" player-vars="playerVars"></youtube-video>
      </div>
      
      <!--<div class="videogular-container">-->
      <!--  <videogular-->
      <!--      vg-player-ready="controller.onPlayerReady($API)"-->
      <!--      vg-theme="controller.config.theme.url"-->
      <!--      vg-auto-play="controller.config.autoPlay">-->
      <!--    <vg-media-->
      <!--        vg-src="controller.config.sources"-->
      <!--        vg-tracks="controller.config.tracks"-->
      <!--        vg-preload="controller.config.preload">-->
      <!--    </vg-media>-->
          
      <!--    <vg-controls-->
      <!--        vg-autohide="controller.config.plugins.controls.autoHide"-->
      <!--        vg-autohide-time="controller.config.plugins.controls.autoHideTime">-->
      <!--      <div class="bottom-right">-->
      <!--        <vg-volume>-->
      <!--          <vg-mute-button></vg-mute-button>-->
      <!--          <vg-volume-bar></vg-volume-bar>-->
      <!--        </vg-volume>-->
      <!--        <vg-fullscreen-button></vg-fullscreen-button>-->
      <!--      </div>-->
      <!--    </vg-controls>-->
          
          <!--<vg-overlay-play></vg-overlay-play>-->
      <!--    <div class="ng-cloak state" ng-show="controller.live" >-->
      <!--      <img src="img/live.png">-->
      <!--    </div>-->
      <!--    <div class="ng-cloak state" ng-show="!controller.live" >-->
      <!--      <img src="img/off.png">-->
      <!--    </div>-->
          <!--<vg-buffering></vg-buffering>-->
          <!--<vg-poster vg-url='controller.config.plugins.poster'></vg-poster>-->
      <!--  </videogular>-->
      <!--</div>-->
      
      <br/><br/>
    </div>
  </div>
</div>