<div ng-controller="partnersCtrl as partners">
  <div class="container">
    <div class="row">
      <div class="titreArticleContent col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
        <h1>
          Exposants et Partenaires
        </h1>
        <p class="texteArticleContent">
          Tout ce que vous pourrez découvrir durant la Gaming Gen level 7 !
        </p>
      </div>
    </div>
    <br/><br/>
  </div>
  <div class="container goldPartner partenaires">
    
    <!--<a ui-sref="article({ id: '5990a0e3f49c415990524db8' })"></a>-->
    <!--instiPartner-->
    <!--worldPartner-->
    <!--jobPartner-->
    
    <!--GOLD-->
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner worldPartner">
        <a href="https://www.soprasteria.com/fr" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-SOPRASTERIA.jpg">
        </div>
        <div class="texte">
          <h1>
            Sopra Steria
          </h1>
          <br/><br/>
          <p>
            Stand 14: Sopra Steria une entreprise international qui recrute !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner worldPartner">
        <a href="https://www.ynov.com/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-YNOV-2.jpg">
        </div>
        <div class="texte">
          <h1>
            Ynov
          </h1>
          <br/><br/>
          <p>
            Stand 13: Ynov Aix l’école des métiers du numérique.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner worldPartner">
        <a href="https://www.hardware-informatique.fr/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-HARDWAREINF.jpg">
        </div>
        <div class="texte">
          <h1>
            Hardware Informatique
          </h1>
          <br/><br/>
          <p>
            Stand 31: Hardware Informatique votre spécialiste multimédia sur Gardanne.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner worldPartner">
        <a href="https://www.aorus.com/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-AORUS.png">
        </div>
        <div class="texte">
         <h1>
            Aorus
          </h1>
          <br/><br/>
          <p>
            Aorus: le meilleur du gaming PC.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    
    <!--SILVER-->
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="http://genimage.fr/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-GENIMAGE.jpg">
        </div>
        <div class="texte">
          <h1>
            GENIMAGE
          </h1>
          <br/><br/>
          <p>
            Stand 15: L’école de jeux vidéos, d’illustration, BD et manga basée sur Marseille.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="https://pixelevolution.fr/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-PIXEL.jpg">
        </div>
        <div class="texte">
          <h1>
            PIXEL EVOLUTION 
          </h1>
          <br/><br/>
          <p>
            Stand 12: Vous propose sa collection de textile 3D animé en Réalité Augmentée. Grâce à notre application gratuite, les motifs de nos t-shirts s'animent sous vos yeux !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="https://fr-fr.facebook.com/golfank/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-GOLFANK.jpg">
        </div>
        <div class="texte">
          <h1>
            Golfank
          </h1>
          <br/><br/>
          <p>
            Stand 6: Jouez au billard, avec les doigts !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="https://www.instagram.com/nevyprod/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-NEVY.png">
        </div>
        <div class="texte">
          <h1>
            Nevy 
          </h1>
          <br/><br/>
          <p>
            Stand 7: Illustratrice originaire de Gardanne particulièrement fan des jeux vidéo et du street-art, NevyProd mêle sa passion pour l'art et le gaming.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="https://atypique-studio.fr/notre-jeu/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-NOARA.jpg">
        </div>
        <div class="texte">
          <h1>
            Atypique (Noara)
          </h1>
          <br/><br/>
          <p>
            Stand 30: Le nouveau jeu vidéo à découvrir.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="https://www.pixelheart.eu/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-PIXEL-HEART.jpg">
        </div>
        <div class="texte">
          <h1>
            Rush On Game /Pixel Heart
          </h1>
          <br/><br/>
          <p>
            Stand 35: Editeur indépendant de jeu vidéo.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="https://argolys.com/gaming-gen" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-ARGOLYS.jpg">
        </div>
        <div class="texte">
          <h1>
            Argolys
          </h1>
          <br/><br/>
          <p>
            Stand 43: Améliorer ses performances et son endurance, tout en préservant sa santé, c'est possible avec la gamme de compléments alimentaires Argolys. Des formules naturelles fabriquées en France par la société S&B Provence.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="http://www.speedrive.fr/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/BRONZE-SPEEDRIVE.jpg">
        </div>
        <div class="texte">
          <h1>
            Speedrive
          </h1>
          <br/><br/>
          <p>
            Stand 17: L’exceptionnelle course de voiture en semi-Réalité-Virtuelle avec caméra embarquée.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="https://www.feed.co/fr/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-FEED.jpg">
        </div>
        <div class="texte">
          <h1>
            Feed
          </h1>
          <br/><br/>
          <p>
            L’alimentation saine et rapide pour gamers.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="https://www.facebook.com/imeemploi/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-IME.jpg">
        </div>
        <div class="texte">
          <h1>
            IME
          </h1>
          <br/><br/>
          <p>
            Postes à pourvoir dans différents domaines.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    
    <!--BRONZE-->
    <div class="row goldPartner">
       <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/BoutiqueLeGoodie/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-LEGOODIE.jpg">
        </div>
        <div class="texte">
          <h1>
            Le Goodie
          </h1>
          <br/><br/>
          <p>
            Stand 40: "Cinéma, Comics, Jeux-vidéo, Manga, Série-Tv... Vous trouverez forcément votre bonheur chez Le Goodie !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/profile.php?id=100010448140384" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-CARRE-MANGA.jpg">
        </div>
        <div class="texte">
          <h1>
            Le Carré Manga
          </h1>
          <br/><br/>
          <p>
            Stand 21: Vente de Pop, figurines banpresto, figurines comics, SCFI, posters et de dérivés officiels.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/Le-Petit-Grillon-717948478327817/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-PETIT-GRILLON.jpg">
        </div>
        <div class="texte">
          <h1>
            Le Petit Grillon
          </h1>
          <br/><br/>
          <p>
            Stand 60: Travaille des produits frais, cuit minute, des légumes frais, des frites maison cuites minute, un steak façon bouchère 125gr cuit minute, du fromage aop.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/candybarbijouxgourmands/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-CANDY-BAR.jpg">
        </div>
        <div class="texte">
          <h1>
            Candy Bar
          </h1>
          <br/><br/>
          <p>
            Stand 26: Bijoux faits mains et accessoires kawaii en formes de gourmandises réalisés en pâte polymère.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.facebook.com/figurines3dsculpt" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-3D-SCULPT.jpg">
        </div>
        <div class="texte">
          <h1>
            3D sculpt
          </h1>
          <br/><br/>
          <p>
            Stand 32: 3D Sculpt est une société de création de figurine et d'objet divers issus de la culture geek et manga en impression 3D peint à la main.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://rgs-arcade.over-blog.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-RGS-ARCADE.jpg">
        </div>
        <div class="texte">
          <h1>
            RGS Arcade
          </h1>
          <br/><br/>
          <p>
            Stand 5: Bornes d'arcades originales et créées sur-mesure.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <a href="https://fr-fr.facebook.com/KaiokenBar/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-Kaioken.jpg">
        </div>
        <div class="texte">
          <h1>
            Kaioken Esport Bar
          </h1>
          <br/><br/>
          <p>
            Stand 9: Tournois de versus-fighting et unique bar de la Gaming Gen 7.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.epitech.eu/fr/ecole-informatique-marseille/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-EPITECH.jpg">
        </div>
        <div class="texte">
          <h1>
            Epitech
          </h1>
          <br/><br/>
          <p>
            Stand 16: Ecole d'informatique présente dans 13 villes dont Marseille.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://fr-fr.facebook.com/GKGameKlub/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-GAME-KLUB.jpg">
        </div>
        <div class="texte">
          <h1>
            Chakoue
          </h1>
          <br/><br/>
          <p>
            Stand 25: Game Klub spécialiste du retro-gaming.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <!--<a href="" target="_blank"></a>-->
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-SMOOTHIE.jpg">
        </div>
        <div class="texte">
          <h1>
            Smoothies
          </h1>
          <br/><br/>
          <p>
            Stand 27: AB Fraîcheur smoothies frais et cuisinés sur demande.
          </p>
          <!--<p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>-->
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://fr-fr.facebook.com/Faureveurcannes/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-FAUREVEUR.jpg">
        </div>
        <div class="texte">
          <h1>
            Faureveur
          </h1>
          <br/><br/>
          <p>
            Stand 37: T-shirts et goodies geeks.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.faceaujeu.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-FACE-AU-JEU.jpg">
        </div>
        <div class="texte">
          <h1>
            Face au jeu
          </h1>
          <br/><br/>
          <p>
            Stand 38.1: Vente de jeux de société.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <a href="https://fr-fr.facebook.com/WSLundai/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-LUNDAI.jpg">
        </div>
        <div class="texte">
          <h1>
            Lundaï
          </h1>
          <br/><br/>
          <p>
            Stand 39: La web série.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://boiteamalices.e-monsite.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/SILVER-MALICE.jpg">
        </div>
        <div class="texte">
          <h1>
            Boite à Malices
          </h1>
          <br/><br/>
          <p>
            Stand 4: Goodies kawaï et tshirts geeks.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://simplon.co/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-SIMPLON.jpg">
        </div>
        <div class="texte">
          <h1>
            Simplon.co
          </h1>
          <br/><br/>
          <p>
            Stand 11: Simplon.co : formation aux métiers du digital.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <a href="https://www.ecv.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-ECV.jpg">
        </div>
        <div class="texte">
          <h1>
            ECV
          </h1>
          <br/><br/>
          <p>
            Stand 23: Ecole de design et d’animation 3D.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.arcademy.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-ARCADEMY.jpg">
        </div>
        <div class="texte">
          <h1>
            Arcademy
          </h1>
          <br/><br/>
          <p>
            Stand 19: Magnifiques bornes d'arcade, freeplay, démo et vente.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.universdubonbon.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-BONBONS.jpg">
        </div>
        <div class="texte">
          <h1>
            Univers du Bonbon
          </h1>
          <br/><br/>
          <p>
            Stand 18: Pour les gourmands.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <a href="https://www.galaxygeekgl.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-GALAXY-GEEK.jpg">
        </div>
        <div class="texte">
          <h1>
            Galaxy Geek
          </h1>
          <br/><br/>
          <p>
            Stand 22: Animations VR.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <!--<a href="http://www.facebook.com/figurines3dsculpt" target="_blank"></a>-->
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-JLA-RETROGAMING.jpg">
        </div>
        <div class="texte">
          <h1>
            JLA Retro-gaming
          </h1>
          <br/><br/>
          <p>
            Stand 29: Retro-gaming en freeplay et tournois.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/RetroGeeksStyle" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-RGS.jpg">
        </div>
        <div class="texte">
          <h1>
            RGS / retro geek style
          </h1>
          <br/><br/>
          <p>
            Stand 36: Créations originales en pixel art.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <a href="https://don.telethon.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-TELETHON-EFS.jpg">
        </div>
        <div class="texte">
          <h1>
            EFS + Téléthon
          </h1>
          <br/><br/>
          <p>
            Stand 33: Les associations "Téléthon Gardanne" et "Établissement français du sang".
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.batman-legend.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-BATMAN.jpg">
        </div>
        <div class="texte">
          <h1>
            Batman Legend
          </h1>
          <br/><br/>
          <p>
            Stand 28: Blog de passionnés Batman.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.frenchgeekmovement.fr/keanu-reeves-produit-serie-science-fiction/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-FGM.jpg">
        </div>
        <div class="texte">
          <h1>
            French Geek Mov
          </h1>
          <br/><br/>
          <p>
            Stand 42: Animations geeks.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <a href="https://www.protubevr.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-PROTUBE-VR.jpg">
        </div>
        <div class="texte">
          <h1>
            Protube VR
          </h1>
          <br/><br/>
          <p>
            Stand 44: Une innovation géniale en Réalité Virtuelle, à ne pas manquer !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.lgdj.org/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-LGDJ.jpg">
        </div>
        <div class="texte">
          <h1>
            Guilde des Joueurs
          </h1>
          <br/><br/>
          <p>
            Stand 47: Jeux de rôle.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.parkage.com/fr" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-PARKAGE.jpg">
        </div>
        <div class="texte">
          <h1>
            Parkage
          </h1>
          <br/><br/>
          <p>
            Stand 46: Le spécialiste du jeu de société.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <a href="http://legriffonrouge.xooit.fr/index.php" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-GRIFFONROUGE.jpg">
        </div>
        <div class="texte">
          <h1>
            Griffons Rouges
          </h1>
          <br/><br/>
          <p>
            Stand 50: Jeux de plateau.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <!--<a href="http://www.facebook.com/figurines3dsculpt" target="_blank"></a>-->
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-INCONNU.jpg">
        </div>
        <div class="texte">
          <h1>
            JLA JDS et JDR
          </h1>
          <br/><br/>
          <p>
            Stand 48: Jeux de société.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://mistigri.net/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-MISTIGRI.jpg">
        </div>
        <div class="texte">
          <h1>
            Mistigri
          </h1>
          <br/><br/>
          <p>
            Stand 49: Jeux de société.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/lorientablefoodtruck/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-LORIENTALE.jpg">
        </div>
        <div class="texte">
          <h1>
            L'Orientable
          </h1>
          <br/><br/>
          <p>
            Stand 61: Food-truck s'inspire de la cuisine israélienne, libanaise et grecque.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.geekmemore.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-GEEK-ME-MORE.jpg">
        </div>
        <div class="texte">
          <h1>
            Geek Me More
          </h1>
          <br/><br/>
          <p>
            Site de rencontre pour geeks !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <!--<div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">-->
      <!--  <a href="http://www.facebook.com/figurines3dsculpt" target="_blank"></a>-->
      <!--  <div class="partnerImg">-->
      <!--    <img src="../Img/Partner/BRONZE-3D-SCULPT.jpg">-->
      <!--  </div>-->
      <!--  <div class="texte">-->
      <!--    <h1>-->
      <!--      Mistigri-->
      <!--    </h1>-->
      <!--    <br/><br/>-->
      <!--    <p>-->
      <!--      Stand 63: Jeux de société.-->
      <!--    </p>-->
      <!--    <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>-->
      <!--  </div>-->
      <!--</div>-->
    </div>
    
  </div>
</div>