<div ng-controller="partnersCtrl as partners">
  <div class="container">
    <div class="row">
      <div class="titreArticleContent col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
        <h1>
          Exposants et Partenaires
        </h1>
        <p class="texteArticleContent">
          Tout ce que vous pourrez découvrir durant la Gaming Gen 6 !
        </p>
      </div>
    </div>
    <br/><br/>
  </div>
  <div class="container goldPartner partenaires">
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner instiPartner">
        <a href="http://www.funradio.fr/sujet/marseille" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-FUN.jpg">
        </div>
        <div class="texte">
          <h1>
            Fun Radio
          </h1>
          <br/><br/>
          <p>
            Fun Radio est LA radio des jeunes, et LA radio des plus grands événements dédié à l'univers high-tech et gaming :  après avoir été partenaire de Video City, ou encore de la Paris Games Week, il était donc logique de prendre part au plus grand événement dédié à cette univers dans la région, la GG6 !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner worldPartner">
        <a href="https://www.cultura.com/les-magasins/cultura-plan-de-campagne.html" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-CULTURA.jpg">
        </div>
        <div class="texte">
          <h1>
            Cultura
          </h1>
          <br/><br/>
          <p>
            Stand 18 : le magasin Cultura Plan de Campagne, sera là pour ravir les amateurs de Loisirs Créatifs, et sponsorise le tournoi Clash Royale !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner jobPartner">
        <a ui-sref="article({ id: '5990a0e3f49c415990524db8' })"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-BLUE.jpg">
        </div>
        <div class="texte">
          <h1>
            Blue Microphones
          </h1>
          <br/><br/>
          <p>
            Blue, expert des microphones et casques audio hautes performances depuis plus de 20 ans, offre pour plus de 2.800€ d'équipements aux vainqueurs de nos tournois CS: GO Elite et Amateur : micros Blackout Yeti et casques Lola.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner instiPartner">
        <a href="https://amft.io/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-FRENCHTECH.jpg">
        </div>
        <div class="texte">
         <h1>
            French Tech
          </h1>
          <br/><br/>
          <p>
            Nous sommes fiers d’être soutenus par la French Tech et son antenne Aix-Marseille (AMFT) qui promeut l’innovation, la transition numérique et les Tech Champions français.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner worldPartner">
        <a href="http://www.lesjeuxdoren.com" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-OREN.jpg">
        </div>
        <div class="texte">
         <h1>
            La Boutique d'Oren
          </h1>
          <br/><br/>
          <p>
            Stand 24 : La Boutique d’Oren est LE spécialiste des jeux de société et jeux de plateau. En grand passionné, Oren saura trouver les jeux qui plairont à votre famille ou vos amis.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner worldPartner">
        <a href="http://www.cheeky-monkey-tattoo.com/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-CHEEKY.jpg">
        </div>
        <div class="texte">
         <h1>
            Cheeky Monkey Tattoo
          </h1>
          <br/><br/>
          <p>
            Stand 14 : Cheeky Monkey Tattoo, le studio de Meyreuil, te présente ses 3 artistes Yann Guitton, Wendy Wen-o et Nicolas Mariani, qui te proposeront de magnifiques tatouages geeks !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner worldPartner">
        <a href="http://www.hardware-informatique.fr/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-HARDWAREINF.jpg" ng-srcset="../Img/Partner/GOLD-HARDWAREINF-300.jpg 400w, ../Img/Partner/GOLD-HARDWAREINF.jpg 2000w">
        </div>
        <div class="texte">
         <h1>
            Hardware Informatique
          </h1>
          <br/><br/>
          <p>
            Stand 70 : Hardware Informatique, spécialiste du multimédia à Gardanne et partenaire historique de la Gaming Gen, nous soutien cette année encore et proposera sur son stand des matériels de gamers, périphériques etc…
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner instiPartner">
        <a href="http://www.marseille-provence.fr/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-AIX.jpg">
        </div>
        <div class="texte">
         <h1>
            Metropole Aix Marseille
          </h1>
          <br/><br/>
          <p>
            La métropole Aix-Marseille-Provence est partenaire institutionnel des projets Gaming Gen et soutien nos actions.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner jobPartner">
        <a href="http://www.gfi.world/fr/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-GFI.jpg">
        </div>
        <div class="texte">
          <h1>
            GFI Informatique
          </h1>
          <br/><br/>
          <p>
            Gfi Informatique est dans le top 10 des Entreprises du Numérique. Grâce à nos 14.000 collaborateurs dont 9500 en France, nous accompagnons les entreprises dans leur transformation digitale, développement web, nouvelles technologies, business intelligence, testing…  Plus de 50 postes à pourvoir : venez nous rencontrer stand 9 !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner instiPartner">
        <a href="http://www.ville-gardanne.fr/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-GARDANNE.jpg">
        </div>
        <div class="texte">
          <h1>
            Ville de Gardanne
          </h1>
          <br/><br/>
          <p>
            Grand merci à la Ville de Gardanne qui nous soutien depuis nos débuts, et qui œuvre sans relâche pour faire vivre les associations locales !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner worldPartner">
        <a href="http://www.start-it.fr/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-START.jpg">
        </div>
        <div class="texte">
          <h1>
            Start It
          </h1>
          <br/><br/>
          <p>
            Stand 46 : Start ! te réserve pleins de surprises et vient te présenter son expertise informatique et ses incroyables PC montés sur-mesure, véritables machines de guerre !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner jobPartner">
        <a href="https://aix.ynov.com/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-YNOV.jpg">
        </div>
        <div class="texte">
          <h1>
            Ynov Aix
          </h1>
          <br/><br/>
          <p>
            Stand 33 : YNOV campus Aix te forme aux métiers du numérique et du digital. Sur la GG6, les étudiants Ynov montreront leurs skills e-sportifs !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner jobPartner">
        <a href="https://www.jaguar-network.com/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-JAGUAR.jpg">
        </div>
        <div class="texte">
          <h1>
            Jaguar Network
          </h1>
          <br/><br/>
          <p>
            Jaguar Network s'associe une fois de plus à l'événement Gaming Gen ! Un soutien logistique et matériel très précieux.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slotPartner instiPartner">
        <!--<a href="https://www.jaguar-network.com/" target="_blank"></a>-->
        <div class="partnerImg" style="height:246px;" >
          <img src="../Img/Partner/GOLD-MAXIMUS.jpg">
        </div>
        <div class="texte">
          <h1>
            Maximus Cup
          </h1>
          <br/><br/>
          <p>
            Stand 1 : présentation de la Maximus Cup, tournoi E-Sport International !
          </p>
          <!--<p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>-->
        </div>
      </div>
    </div>
    
    <!--<div class="row goldPartner">-->
    <!--  <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner instiPartner">-->
    <!--    <a href="http://www.google.fr" target="_blank"></a>-->
    <!--    <div class="partnerImg" style="height:246px;">-->
    <!--      <img src="http://html.com/wp-content/uploads/very-large-flamingo.jpg">-->
    <!--    </div>-->
    <!--    <div class="texte">-->
    <!--      <h1>-->
    <!--        Toto-->
    <!--      </h1>-->
    <!--      <p>-->
    <!--        <strong>-->
    <!--          Partenaires Gaming World-->
    <!--        </strong>-->
    <!--      </p>-->
    <!--      <p>-->
    <!--        Cum autem commodis intervallata temporibus convivia longa et noxia coeperint apparari vel distributio sollemnium sportularum.-->
    <!--      </p>-->
    <!--      <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner jobPartner">-->
    <!--    <a href="http://www.google.fr" target="_blank"></a>-->
    <!--    <div class="partnerImg" style="height:246px;">-->
    <!--      <img src="http://html.com/wp-content/uploads/very-large-flamingo.jpg">-->
    <!--    </div>-->
    <!--    <div class="texte">-->
    <!--      <h1>-->
    <!--        Toto-->
    <!--      </h1>-->
    <!--      <p>-->
    <!--        <strong>-->
    <!--          Partenaires Gaming World-->
    <!--        </strong>-->
    <!--      </p>-->
    <!--      <p>-->
    <!--        Cum autem commodis intervallata temporibus convivia longa et noxia coeperint apparari vel distributio sollemnium sportularum.-->
    <!--      </p>-->
    <!--      <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="https://www.cinescapegame.fr/cinescape-a-gaming-gen-6/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-CINESCAPE.jpg">
        </div>
        <div class="texte">
          <h1>
            Cinescape
          </h1>
          <br/><br/>
          <p>
            Stand 5 : Avec CInescape, découvre une escape room dont les énigmes sont dignes des plus grands maîtres d’Hollywood !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner jobPartner">
        <a href="http://www.iefm3d.com/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-IEFM.jpg">
        </div>
        <div class="texte">
          <h1>
            IEFM3D 
          </h1>
          <br/><br/>
          <p>
            Stand 29 : L’école IEFM3D de Montpellier vient présenter ses formations aux métiers du digital, de la 3D et du jeu-vidéo.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="http://boiteamalices.e-monsite.com/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-MALICE.jpg">
        </div>
        <div class="texte">
          <h1>
            Boîte à Malices
          </h1>
          <br/><br/>
          <p>
            Stand 39 : La Boîte à Malices revient cette année encore pour vous faire (re)découvrir ses goodies ultra kawai, faits main ou importés !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner jobPartner">
        <a href="http://www.epitech.eu/ecole-informatique-marseille.aspx" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-EPITECH.jpg">
        </div>
        <div class="texte">
          <h1>
            Epitech 
          </h1>
          <br/><br/>
          <p>
            Stand 17 : Reconnue pour son expertise, l’école Epitech vient présenter ses formations et propose une animation VR avec HTC VIVE.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner jobPartner">
        <a href="https://3wa.fr/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-3W.jpg">
        </div>
        <div class="texte">
          <h1>
            3W Academy
          </h1>
          <br/><br/>
          <p>
            Stand 34 : La 3W Academy sera à la Gaming Gen 6 pour promouvoir ses formations Gaming et Dev Web et sa plateforme e-learning.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">
        <a href="https://www.rushongame.com/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-RUSH.jpg">
        </div>
        <div class="texte">
          <h1>
            Rush on Game 
          </h1>
          <p>
            Stand 2 : Rush on Game est le premier site de ventes privées de jeux vidéo, déstockage jeux vidéo retro et next gen.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner jobPartner">
        <a href="https://www.facebook.com/GKGameKlub/" target="_blank"></a>
        <div class="partnerImg" style="height:246px;">
          <img src="../Img/Partner/SILVER-GAME-KLUB.jpg">
        </div>
        <div class="texte">
          <h1>
            Game Klub
          </h1>
          <br/><br/>
          <p>
            Stand 12 : Game Klub, magasin de jeux-vidéo à Aix en Provence, sera là pour les fans de retro-gaming : vente de jeux et consoles old-school.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <!--<div class="col-xs-12 col-sm-6 col-md-6 -col-lg-6 slotPartner worldPartner">-->
      <!--  <a href="https://www.rushongame.com/" target="_blank"></a>-->
      <!--  <div class="partnerImg" style="height:246px;">-->
      <!--    <img src="../Img/Partner/SILVER-RUSH.jpg">-->
      <!--  </div>-->
      <!--  <div class="texte">-->
      <!--    <h1>-->
      <!--      Rush on Game -->
      <!--    </h1>-->
      <!--    <p>-->
      <!--      Stand 2 : Rush on Game est le premier site de ventes privées de jeux vidéo, déstockage jeux vidéo retro et next gen.-->
      <!--    </p>-->
      <!--    <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>-->
      <!--  </div>-->
      <!--</div>-->
    </div>
    
    <!--<div class="row goldPartner">-->
    <!--</div>-->
    
    <!--<div class="row goldPartner">-->
    <!--  <div class="col-xs-12 col-sm-6 col-md-4 -col-lg-4 slotPartner jobPartner">-->
    <!--    <a href="https://3wa.fr/" target="_blank"></a>-->
    <!--    <div class="partnerImg">-->
    <!--      <img src="https://www.defi-metiers.fr/sites/default/files/doc-kelios/Logo/2014/07/15/3wa_logo_final_RGB.jpg">-->
    <!--    </div>-->
    <!--    <div class="texte">-->
    <!--      <h1>-->
    <!--        3W Academy-->
    <!--      </h1>-->
    <!--      <p>-->
    <!--        <strong>-->
    <!--          Partenaires Gaming World-->
    <!--        </strong>-->
    <!--      </p>-->
    <!--      <p>-->
    <!--         La 3W Academy sera à la Gaming Gen 6 pour promouvoir ses formations Gaming et Dev Web et sa plateforme e-learning.-->
    <!--      </p>-->
    <!--      <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner arenaPartner">-->
    <!--    <a href="http://www.google.fr" target="_blank"></a>-->
    <!--    <div class="partnerImg">-->
    <!--      <img src="URLIMAGE">-->
    <!--    </div>-->
    <!--    <div class="texte">-->
    <!--      <h1>-->
    <!--        Ariès-->
    <!--      </h1>-->
    <!--      <p>-->
    <!--        <strong>-->
    <!--          Partenaires Gaming World-->
    <!--        </strong>-->
    <!--      </p>-->
    <!--      <p>-->
    <!--        Cum autem commodis intervallata temporibus convivia longa et noxia coeperint apparari vel distributio sollemnium sportularum.-->
    <!--      </p>-->
    <!--      <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--   <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">-->
    <!--    <a href="http://www.google.fr" target="_blank"></a>-->
    <!--    <div class="partnerImg">-->
    <!--      <img src="URLIMAGE">-->
    <!--    </div>-->
    <!--    <div class="texte">-->
    <!--      <h1>-->
    <!--        Gardanne-->
    <!--      </h1>-->
    <!--      <p>-->
    <!--        <strong>-->
    <!--          Partenaires Gaming World-->
    <!--        </strong>-->
    <!--      </p>-->
    <!--      <p>-->
    <!--        Cum autem commodis intervallata temporibus convivia longa et noxia coeperint apparari vel distributio sollemnium sportularum.-->
    <!--      </p>-->
    <!--      <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
    
    <div class="row goldPartner">
       <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.jeuxvoyage.com/sejours-festivals/195-gaming-gen-6.html" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-JEUXVOYAGE.jpg">
        </div>
        <div class="texte">
          <h1>
            Jeux-voyage.com
          </h1>
          <br/><br/>
          <p>
            JeuxVoyage.com s'occupe de ton déplacement à la GG6 : transport et hôtel (surclassement 3* !), ils gèrent.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.geekmemore.com/"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-GEEKMEMORE.jpg">
        </div>
        <div class="texte">
          <h1>
            Geek Me More
          </h1>
          <br/><br/>
          <p>
            GeekMeMore, premier site de rencontre 100% Geek, est une fois encore partenaire de la Gaming Gen !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner jobPartner">
        <a href="http://ecolearies.fr/ecoles-aries-aix-en-provence.php" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-ARIES.jpg">
        </div>
        <div class="texte">
          <h1>
            Ariès
          </h1>
          <br/><br/>
          <p>
            Stand 10 : L’école Aries te présente ses études de 3D, film d'animation, web, jeu-vidéo…
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/RetroGeeksStyleArcade/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-RGS.jpg">
        </div>
        <div class="texte">
          <h1>
            Retro Geek's Style - RGS Arcade
          </h1>
          <br/><br/>
          <p>
            Stand 15 : Retro Geek’s Style Arcade arrive avec du lourd : de magnifiques bornes d’arcade !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 -col-lg-4 slotPartner worldPartner">
        <a ui-sref="home" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-JUSTDANCE.jpg">
        </div>
        <div class="texte">
          <h1>
            Just Dance
          </h1>
          <br/><br/>
          <p>
            Stand 16' : Es-tu prêt à enflammer le dancefloor sur notre stand Just Dance ? 
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <a ui-sref="article({ id: '598f15fef49c415990524db7' })"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-JLA-MARIO.jpg">
        </div>
        <div class="texte">
          <h1>
            JLA / Mario Kart
          </h1>
          <br/><br/>
          <p>
            Stand 6' : Justice League Animations te propose une course MarioKart via voitures télécommandées.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.etsy.com/fr/shop/Bornetobe/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-BORNE.jpg">
        </div>
        <div class="texte">
          <h1>
            Borne 2 Be
          </h1>
          <br/><br/>
          <p>
            Stand 16 : Borne 2 BE réalise des bornes d’arcade à partir de matériaux de récupération, et c’est génial !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 -col-lg-4 slotPartner worldPartner">
        <a href="http://www.frenchgeekmovement.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-FGM.jpg">
        </div>
        <div class="texte">
          <h1>
            French Geek Movement
          </h1>
          <br/><br/>
          <p>
            Stand 32 : L’association aixoise French Geek Movement vient tester tes connaissances Geeks !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner worldPartner">
        <a href="https://pixelevolution.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-PIXELEVO.jpg">
        </div>
        <div class="texte">
          <h1>
            Pixel Evolution 3D
          </h1>
          <br/><br/>
          <p>
            Stand 7 : Pixel Evolution te fait découvrir ses t-shirts geeks innovants, en réalité augmentée !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.meltdown.bar/aix" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-MELTDOWN.jpg">
        </div>
        <div class="texte">
          <h1>
            Meltdown
          </h1>
          <br/><br/>
          <p>
            Stand 6 : Meltdown Aix, LE bar gaming et eSport sera à la GG6 pour tournois Tekken 7 et Street Fighter V.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 -col-lg-4 slotPartner worldPartner">
        <a href="http://made-in-game.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-MADEINGAME.jpg">
        </div>
        <div class="texte">
          <h1>
            Made in Game 
          </h1>
          <br/><br/>
          <p>
            Stand 25 : Découvre les jeux vidéo créés par Made in Game, un studio indépendant.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 slotPartner jobPartner">
        <a href="http://illu-mines.emse.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-ILLUMINE.jpg">
        </div>
        <div class="texte">
          <h1>
            Illu Mines
          </h1>
          <br/><br/>
          <p>
            Stand 31 : Illu Mines, association d’étudiants de l’école des Mines, vous régalent en VR et Robotique.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://handigamer.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-HANDIGAMER.jpg">
        </div>
        <div class="texte">
          <h1>
            Handigamer
          </h1>
          <br/><br/>
          <p>
            Stand 13 : Handigamer.fr présente ses manettes PS4 et XBOX adaptées pour joueurs handicapés.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 -col-lg-4 slotPartner jobPartner">
        <a href="http://www.lyc-fourcade.ac-aix-marseille.fr/spip/spip.php?article166" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-LYCEE.jpg">
        </div>
        <div class="texte">
          <h1>
            Fourcade
          </h1>
          <br/><br/>
          <p>
            Stand 30 : Le lycée Fourcade de Gardanne met à l’honneur ses élèves et leurs travaux en Robotique.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.batman-legend.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-BATMAN.jpg">
        </div>
        <div class="texte">
          <h1>
            Batman Legend
          </h1>
          <br/><br/>
          <p>
            Stand 32 : Le blog Batman Legend sera là dimanche pour des animations sur l’univers Batman.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner jobPartner">
        <a href="http://www.gameacademy.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-GAMEACADEMY.jpg">
        </div>
        <div class="texte">
          <h1>
            Game Academy
          </h1>
          <br/><br/>
          <p>
             Stand 11 : Game Academy, l’école de jeux vidéo d'Avignon, te fais découvrir ses formations.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.revedemanga.fr" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-MANGA.jpg">
        </div>
        <div class="texte">
          <h1>
            Rêve de Manga
          </h1>
          <br/><br/>
          <p>
            Stand 23 : Reve de Manga Aix ravira les fans de mangas (livres, DVD et figurines) et de cartes à jouer !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.ludotheque-puzzle.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-LUDOTHEQUE.jpg">
        </div>
        <div class="texte">
          <h1>
            Ludothèque Gardanne
          </h1>
          <br/><br/>
          <p>
            Stand 44 : la Ludothèque de Gardanne amène ses jeux de sociétés et jeux en bois pour ravis les plus petits !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a ui-sref="article({ id: '598f15fef49c415990524db7' })"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-JLA-RETROGAMING.jpg">
        </div>
        <div class="texte">
          <h1>
            JLA / RETRO GAMING
          </h1>
          <br/><br/>
          <p>
            Stand 47 : Consoles et jeux retro-gaming en accès libre.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a ui-sref="article({ id: '598f15fef49c415990524db7' })"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-JLA-PSVR.jpg">
        </div>
        <div class="texte">
          <h1>
            JLA / VR
          </h1>
          <br/><br/>
          <p>
            Stand 48 : Jeux en réalité virtuelle en accès libre, avec le PSVR des amis de JLA !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner arenaPartner">
        <a href="http://www.project-conquerors.com/partenaires/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-PROJECTCONQUERORS.jpg">
        </div>
        <div class="texte">
          <h1>
            Project Conquerors
          </h1>
          <br/><br/>
          <p>
            Project Conquerors te propose 2 mémorables tournois sur la #GG6 : Clash Royale le samedi (64 joueurs - 650€ à gagner) et Hearthstone le dimanche (32 joueurs - 350€ à gagner).
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner jobPartner">
        <a href="http://www.primi.pro/fr" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-PRIMI.jpg">
        </div>
        <div class="texte">
          <h1>
            Primi
          </h1>
          <br/><br/>
          <p>
            Le PRIMI, Pôle Transmédia Méditerranée, soutien notre association et nos événements, dont la Gaming Gen 6.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/terreurs.nocturnes/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-TERREURS.jpg">
        </div>
        <div class="texte">
          <h1>
            Terreurs nocturnes
          </h1>
          <br/><br/>
          <p>
             Stand 27 : des membres de l'association Le Griffon Rouge ont créé un jeu de société, ils viennent te le faire tester : Terreurs Nocturnes !... 
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.fuvlab.org/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-FUVLAB.jpg">
        </div>
        <div class="texte">
          <h1>
            FuvLab
          </h1>
          <br/><br/>
          <p>
            Stand 26 : le FuvLab sera là pour de nombreuses activités : impression 3D, TrackMania, piano à légumes... 
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.nippontouch.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-NIPPONTOUCH.jpg">
        </div>
        <div class="texte">
          <h1>
            Nippon Touch
          </h1>
          <br/><br/>
          <p>
            Stand 36 : Nippon Touch vient te présenter ses produits Japan Culture : textile manga discount, cosplay, goodies kawaii...
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://thomasalabert.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-THOMAS.jpg">
        </div>
        <div class="texte">
          <h1>
            Thomas ALABERT
          </h1>
          <br/><br/>
          <p>
            Stand 41 : Thomas, magicien du Tape Art, vient te présenter ses superbes oeuvres fortement influencées par la culture Geek !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/devienstonheros/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-DEVIENSTONHEROS.jpg">
        </div>
        <div class="texte">
          <h1>
            Deviens Ton Héros
          </h1>
          <br/><br/>
          <p>
            Stand 43 : l'association Deviens Ton Héro maquille GRATUITEMENT les enfants, et animera un Blind Test "Mangas" sur scène !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/ductrandg/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-DUC.jpg">
        </div>
        <div class="texte">
          <h1>
            Duc Tran DG
          </h1>
          <br/><br/>
          <p>
            Stand 39 : Duc Tran DG, graphiste illustrateur, vient te présenter ses extraordinaires tableaux tout droit sortis de sa délirante immagination !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://stores.ebay.fr/legoodie" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-LEGOODIE.jpg">
        </div>
        <div class="texte">
          <h1>
            Le Goodie
          </h1>
          <br/><br/>
          <p>
            Stand 52 : LeGoodie, c'est une boutique extraordinaire de produits dérivés issus de la Geek Culture ! 
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/RetroGeeksStyle/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-RGS.jpg">
        </div>
        <div class="texte">
          <h1>
            Retro Geek's Style
          </h1>
          <br/><br/>
          <p>
            Stand 54 : Les amis de Retro Geek's Style viennent te partager leur passion du retro-gaming et du pixel art !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.speedrive.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-SPEEDRIVE.jpg">
        </div>
        <div class="texte">
          <h1>
            Speedrive
          </h1>
          <br/><br/>
          <p>
            Stand 55 : la spectaculaire animation SpeeDrive revient une fois de plus pour votre dose de sensations fortes : simulateur automobile avec caméra embarquée. Vroom vroom !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.riboart.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-RIBOART.jpg">
        </div>
        <div class="texte">
          <h1>
            Ribo Art
          </h1>
          <br/><br/>
          <p>
             Stand 56 : Découvre les oeuvres de l'article Ribo Art, inspirées des univers Geek et Gaming. Ribo Art offre un magnifique tableau aux vainqueurs CS: GO.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://legriffonrouge.xooit.fr/index.php" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-GRIFFONROUGE.jpg">
        </div>
        <div class="texte">
          <h1>
            Le Griffon Rouge
          </h1>
          <br/><br/>
          <p>
            Stand 57 : L'association Le Griffon Rouge sera là pour régaler les fans de jeux de plateau et notamment Splendor, avec un tournoi en prévision !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/La-Guilde-Des-Joueurs-111489452276171/" target="_blank"></a>
        <div class="partnerImg">
          <img src="https://www.lgdj.org/images/logo-mid.png">
        </div>
        <div class="texte">
          <h1>
            La Guilde des Joueurs
          </h1>
          <br/><br/>
          <p>
            Stand 58 : La Guilde des Joueurs, association Gardannaise, sera là pour satisfaire les fans de jeux de société et jeux de rôle !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/Ludicair/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-LUDICAIR.jpg">
        </div>
        <div class="texte">
          <h1>
            Ludic Air
          </h1>
          <br/><br/>
          <p>
             Stand 59 : l'association Ludic'Air te proposera des tonnes de jeux de société en accès libre !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/F%C3%A9d%C3%A9ration-Fran%C3%A7aise-de-Mah-Jong-161467010542360/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-FFMJ.jpg">
        </div>
        <div class="texte">
          <h1>
            Fédération Francaise Le Mah-jong
          </h1>
          <br/><br/>
          <p>
            Stand 60 : la Fédération Française de Mah-Jong te propose des sessions d'initiations, mais aussi des parties de hauts niveaux !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a ui-sref="arena"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-FIFA.jpg">
        </div>
        <div class="texte">
          <h1>
            Tournoi FIFA
          </h1>
          <br/><br/>
          <p>
            Stand 64 : du FIFA en accès libre et en tournois !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/galaxygeekgaminglounge/" target="_blank"></a>
        <div class="partnerImg">
          <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/21034439_1994103577469894_9074239436161816582_n.png?oh=3efc3c51a2cef1d2f8eb753075e116a0&oe=5A25825B">
        </div>
        <div class="texte">
          <h1>
            Galaxy Geek
          </h1>
          <br/><br/>
          <p>
            Stand 3 : le Galaxy Geek Gaming Lounge des Penne-Mirabeau te donne rendez-vous pour une animation Réalité Virtuelle exceptionnelle : 2 HTC Vive pour jouer en 1v1 !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="https://www.facebook.com/Faureveurcannes/" target="_blank"></a>
        <div class="partnerImg">
          <img src="https://img11.hostingpics.net/pics/246800faureveur.jpg">
        </div>
        <div class="texte">
          <h1>
            Faureveur
          </h1>
          <br/><br/>
          <p>
            Stand 21 : les passionnés de Faureveur, la boutique de textiles Geeks de Cannes, sera à la GG6 pour te proposer ses plus belles tenus de super-héros !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a ui-sref="article({ id: '59a7119b69a3d47e6beb129a' })"></a>
        <div class="partnerImg">
          <img src="https://i.pinimg.com/736x/d3/a6/a3/d3a6a31952be9cfdf0f64b17ebcd904f--retro-games-magazine-ads.jpg">
        </div>
        <div class="texte">
          <h1>
            Amiga Commodore
          </h1>
          <br/><br/>
          <p>
            Stand 27, un passionné d'Amiga vous propose un Tournoi sur le jeu Kick-off 2, sur la mythique consolle Amiga 500 !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.humans-and-drones.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="http://industrialcamera.net/wp-content/uploads/2015/12/Industrial-Camera-Systems-Drones.png">
        </div>
        <div class="texte">
          <h1>
            Humans and Drone
          </h1>
          <br/><br/>
          <p>
            Stand 28 : Humans and Drones vous propose des vols en immersion totale avec casque de VR, retransmis en live sur écran géant.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.tokyonection.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-TKN.jpg">
        </div>
        <div class="texte">
          <h1>
            TOKYONECTION
          </h1>
          <br/><br/>
          <p>
            Stand 38 : les passionnés de Japan Culture, Tokyonection, vous attendent !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a ui-sref="article({ id: '59a7119b69a3d47e6beb129a' })"></a>
        <div class="partnerImg">
          <img src="https://www.zone-actu.com/wp-content/uploads/C2DuOMqXUAA4SBt.jpg">
        </div>
        <div class="texte">
          <h1>
            Arms 1v1 Switch
          </h1>
          <br/><br/>
          <p>
            Stand 63 : crochet du gauche, esquive latérale, uppercut... On vous propose un duel de guerriers, du 1 contre 1 sur le jeu Arms, fraichement sorti sur Nintendo Switch !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.crunchyroll.com/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-CRUNCHYROLL.jpg">
        </div>
        <div class="texte">
          <h1>
            Crunchy Roll
          </h1>
          <br/><br/>
          <p>
            Crunchy Roll, LE site de streaming d'Anime, offre des abonnements sur certains tournois de la Gaming Gen 6 !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a ui-sref="home"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-SNACK.jpg">
        </div>
        <div class="texte">
          <h1>
            Snack
          </h1>
          <br/><br/>
          <p>
             Stand 71 : une faim de geek ? Le Snack te propose sandwichs et boissons !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.universdubonbon.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-CHURROS.jpg">
        </div>
        <div class="texte">
          <h1>
            Churros et Crèpes
          </h1>
          <br/><br/>
          <p>
            Stand 12’ : Délicieux churros et crêpes pour les geeks les plus gourmands !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.universdubonbon.fr/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-BONBONS.jpg">
        </div>
        <div class="texte">
          <h1>
            L'univers du bonbon
          </h1>
          <br/><br/>
          <p>
            Stand 51 : Déguste tes bonbons préférez avec l'Univers du bonbon !
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <!--<a href="http://www.universdubonbon.fr/" target="_blank"></a>-->
        <div class="partnerImg">
          <img src="https://pstprevention.com/wp-content/uploads/2015/10/Recette-de-smoothie-naturel.jpg">
        </div>
        <div class="texte">
          <h1>
            PB Fraicheur / Granita
          </h1>
          <br/><br/>
          <p>
            Stand 8 : dégustez des Smoothies 100% naturels pour rester en pleine possession de vos moyens durant vos parties !
          </p>
          <!--<p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>-->
        </div>
      </div>
    </div>
    
    <div class="row goldPartner">
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner jobPartner">
        <a href="http://www.ecole-mopa.fr" target="_blank"></a>
        <div class="partnerImg">
          <img src="https://img11.hostingpics.net/pics/682841mopalogoRVB.jpg">
        </div>
        <div class="texte">
          <h1>
            MOPA
          </h1>
          <br/><br/>
          <p>
            Stand 35 : l'école MOPA d'Arles viendra vous présenter les réalisations de films 3D de ses étudiants.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">
        <a href="http://www.lasergame-evolution.com/fr/30/Marseille1%20Plan%20de%20Campagne/" target="_blank"></a>
        <div class="partnerImg">
          <img src="../Img/Partner/BRONZE-LGE.jpg">
        </div>
        <div class="texte">
          <h1>
            Laser Game Evolution
          </h1>
          <br/><br/>
          <p>
            Laser Game Evolution est une fois de plus partenaire de la GG et offre des entrées gratuites aux vainqueurs des tournois.
          </p>
          <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>
        </div>
      </div>
      <!--<div class="col-xs-12 col-sm-6 col-md-4  col-lg-4 slotPartner worldPartner">-->
      <!--  <a href="http://www.universdubonbon.fr/" target="_blank"></a>-->
      <!--  <div class="partnerImg">-->
      <!--    <img src="https://pstprevention.com/wp-content/uploads/2015/10/Recette-de-smoothie-naturel.jpg">-->
      <!--  </div>-->
      <!--  <div class="texte">-->
      <!--    <h1>-->
      <!--      PB Fraicheur / Granita-->
      <!--    </h1>-->
      <!--    <br/><br/>-->
      <!--    <p>-->
      <!--      Stand 8 : dégustez des Smoothies 100% naturels pour rester en pleine possession de vos moyens durant vos parties !-->
      <!--    </p>-->
      <!--    <p style="text-align:center"><strong><u>VOIR LE SITE</u></strong></p>-->
      <!--  </div>-->
      <!--</div>-->
    </div>
  </div>
</div>