<div ng-controller="clashRoyaleCtrl as clashRoyale">
  <div class="container">
        <div class="row">
            <div class="titreArticleContent col-xs-8 col-md-6 col-lg-offset-3 col-xs-offset-2">
              <h1>
                PATIENCE
              </h1>
              <p class="texteArticleContent">On revient tout bientôt :)</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <img src="https://giphy.com/gifs/UTEwvH9aKvnlC/html5">
            </div>
        </div>
    </div>
</div>