<div ng-controller="clashRoyaleCtrl as clashRoyale">
  <div class="container">
        <div class="row">
            <div class="titreArticleContent col-xs-8 col-md-6 col-lg-offset-3 col-xs-offset-2">
              <h1>
                ESPACE PRESSE
              </h1>
              <p class="texteArticleContent">Ils parlent de nous et c'est plutôt cool !</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="tabbable">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">PRESSE KIT</a></li>
                    <li><a href="#tab2" data-toggle="tab">ILS PARLENT DE NOUS</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                      <p>I'm in Section 1.</p>
                    </div>
                    <div class="tab-pane" id="tab2">
                      <p>I'm in Section 2.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>