<div ng-controller="teamsCtrl as teams" class="container">
  <div class="row">
    <div class="titreArticleContent col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
      <h1>
        Les équipes
      </h1>
      <p class="texteArticleContent">
        CS: GO
      </p><!-- Date de l'article -->
    </div>
  </div>
  <div class="row teamWrapper">
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">CALZONE</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">MY BIATCH</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">LaStreetzer</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">JetSet</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">Blackbelts</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">FromNothing</p>-->
  </div>
  <div class="row teamWrapper">
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">Entfire</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">TMV</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">WINBALEK</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">cYbErStArZ</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">VulturESPORT</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">NidhoGG-esport</p>-->
    </div>
    <div class="row teamWrapper">
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">alcoolique anonyme</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">CARBONARA</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">Ninjago</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">carcaloche</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">CHAUDRON MAGIQUE</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">IYH</p>-->
    </div>
    <div class="row teamWrapper">
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">Synapse</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">Frenchkiss</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">Regalade</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">NJL</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">UNKNOWNS PLAYERS</p>-->
    <!--<p class="col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">les petits marseillais</p>-->
    </div>
  
  <p style="font-size:1.6em;margin-bottom:50px;">
  Voir le plan des tables : <a href="http://po.st/gg6-plan-csgo">po.st/gg6-plan-csgo</a><br/>
  </p>
</div>
