<div ng-controller="teamsCtrl as teams" class="container">
  <div class="row">
    <div class="titreArticleContent col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
      <h1>
        Les équipes
      </h1>
      <p class="texteArticleContent">
        CS: GO
      </p><!-- Date de l'article -->
    </div>
  </div>
  <div class="row teamWrapper">
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">CALZONE</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">MY BIATCH</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">LaStreetzer</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">JetSet</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">Blackbelts</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">FromNothing</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">Entfire</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">TMV</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">WINBALEK</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">cYbErStArZ</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">VulturESPORT</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">NidhoGG-esport</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">alcoolique anonyme</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">CARBONARA</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">Ninjago</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">carcaloche</p>
    <p class="col-xs-6 col-sm-4 col-md-3 col-lg-2">CHAUDRON MAGIQUE</p>
  </div>
</div>
