<div ng-controller="tournamentsCtrl as tournaments">
  <div class="container tournament">
    <div class="row">
      <div class="titreArticleContent col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
        <h1>
          Nos Tournois
        </h1>
        <p class="texteArticleContent">
          Un tournoi CS:GO et d'autres compétitions seront annoncées bientôt.
        </p>
      </div>
    </div>
    <!--<div class="row">-->
    <!--  <div class="gameTournament col-xs-12 col-sm-6 col-md-4">-->
    <!--    <a ui-sref="counterStrike"></a>-->
    <!--    <img src="https://images.g2a.com/images/1024x768/1x1x0/42dc183c3746/5911c0ae5bafe375fc0cd699">-->
    <!--    <div class="wrapperTextGame">-->
    <!--      <div class="nameGame">-->
    <!--        CS: GO-->
    <!--      </div>-->
    <!--      <div class="numberTournament">-->
    <!--        32 slots BYOC-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="gameTournament col-xs-12 col-sm-6 col-md-4">-->
    <!--    <a ui-sref="hearthStone"></a>-->
    <!--    <img src="http://www.gosugamers.net/files/images/features/2014/november/Screen%20Shot%202014-11-08%20at%203.21.22%20am.png">-->
    <!--    <div class="wrapperTextGame">-->
    <!--      <div class="nameGame">-->
    <!--        Hearthstone-->
    <!--      </div>-->
    <!--      <div class="numberTournament">-->
    <!--        32 slots BYOP-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <div class="gameTournament col-xs-12 col-sm-6 col-md-4">-->
    <!--    <a ui-sref="clashRoyale"></a>-->
    <!--    <img src="http://img.phonandroid.com/2017/04/clash-royale-best-cards.png">-->
    <!--    <div class="wrapperTextGame">-->
    <!--      <div class="nameGame">-->
    <!--        Clash Royale-->
    <!--      </div>-->
    <!--      <div class="numberTournament">-->
    <!--        64 slots BYOP-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
</div>
