<div ng-controller="tournamentsCtrl as tournaments">
  <div class="container tournament">
    <div class="row">
      <div class="titreArticleContent col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
        <h1>
          Nos Tournois
        </h1>
        <p class="texteArticleContent">
          Un tournoi CS:GO et d'autres compétitions seront annoncées bientôt.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="gameTournament col-xs-12 col-sm-6 col-md-4">
        <a ui-sref="counterStrike"></a>
        <img ng-src="../Img/GamingArena/ARENA-CSGO.jpg">
        <div class="wrapperTextGame">
          <div class="nameGame">
            CS: GO
          </div>
          <div class="numberTournament">
            32 slots BYOC
          </div>
        </div>
      </div>
      <div class="gameTournament col-xs-12 col-sm-6 col-md-4">
        <a ui-sref="fifa19"></a>
        <img ng-src="../Img/GamingArena/ARENA-FIFA-19.jpg">
        <div class="wrapperTextGame">
          <div class="nameGame">
            FIFA 19
          </div>
          <div class="numberTournament">
            32 slots NO-BYOC
          </div>
        </div>
      </div>
      <div class="gameTournament col-xs-12 col-sm-6 col-md-4">
        <a ui-sref="smashBrosUltimate"></a>
        <img ng-src="../Img/GamingArena/ARENA-SuperSmashBrosUltimate_1600w.jpg">
        <div class="wrapperTextGame">
          <div class="nameGame">
            Smash Bros Ultimate
          </div>
          <div class="numberTournament">
            32 slots NO-BYOC
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
