<div ng-controller="tournamentsCtrl as tournaments">
  <div class="container tournament">
    <div class="row">
      <div class="titreArticleContent col-xs-8 col-lg-6 col-lg-offset-3 col-xs-offset-2">
        <h1>
          GAMING ARENA
        </h1>
        <!--<p class="texteArticleContent">-->
        <!--  Un tournoi CS:GO et d'autres compétitions seront annoncées bientôt.-->
        <!--</p>-->
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>Compétitions E-Sport, jeux de société, challenges…<br/><br/>
          La Gaming Gen level 7, c’est l’occasion de venir vous affronter sur vos jeux et jeux vidéo préférés ! Nous proposons tout un espace Gaming Arena destiné à la compétition !
          <br/><br/>
          
          <strong>Explicatif des challenges :</strong>
          <br/>
          &nbsp;&nbsp;-	Fortnite et Apex: <a ui-sref="article({ id: '5c83d92a2eac090533e63ce6' })">cliquez ici</a>
          
          <br/><br/>
          <strong>Tournois gratuit samedi :</strong>
          <br/>
          &nbsp;&nbsp;-	FIFA 19: <a ui-sref="article({ id: '5c83d92a2eac090533e63ce6' })">cliquez ici</a>
          <br/>
          &nbsp;&nbsp;-	SSBU: <a ui-sref="article({ id: '5c83d92a2eac090533e63ce6' })">cliquez ici</a>
          <br/>
          &nbsp;&nbsp;-	DBFZ: <a ui-sref="article({ id: '5c83d92a2eac090533e63ce6' })">cliquez ici</a>
          
          <!--&nbsp;&nbsp;-	Counter-Strike (Global Offensive): <a ui-sref="tournoi-csgo">cliquez ici</a>-->
          <!--<br/>-->
          <!--&nbsp;&nbsp;-	FIFA 19: <a ui-sref="fifa19">cliquez ici</a>-->
          <!--<br/>-->
          <!--&nbsp;&nbsp;-	Smash Bros Ultimate: <a ui-sref="smashBrosUltimate">cliquez ici</a>-->
          <!--<br/>-->
          <!--&nbsp;&nbsp;-	Dragon Ball FighterZ: <a ui-sref="dragonBallFighterZ">cliquez ici</a>-->
          <!--<br/><br/>-->
          
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 imgPlan">
        <!--<a href="../Img/GamingArena/PLAN-ARENA-GG6-OLD.jpg" target="_blank">-->
          <img src="../Img/GamingArena/ARENA-Gamer.jpg">
        <!--</a>-->
      </div>
    </div>
    <br/><br/>
    <strong>Liste des tournois E-Sport dimanche :</strong>
    <div class="row">
      <div class="gameTournament col-xs-12 col-sm-6 col-md-4">
        <a ui-sref="tournoi-csgo"></a>
        <img ng-src="../Img/GamingArena/ARENA-CSGO.jpg">
        <div class="wrapperTextGame">
          <div class="nameGame">
            CS: GO
          </div>
          <div class="numberTournament">
            32 slots BYOC
          </div>
        </div>
      </div>
      <div class="gameTournament col-xs-12 col-sm-6 col-md-4">
        <a ui-sref="fifa19"></a>
        <img ng-src="../Img/GamingArena/ARENA-FIFA-19.jpg">
        <div class="wrapperTextGame">
          <div class="nameGame">
            FIFA 19
          </div>
          <div class="numberTournament">
            32 slots NO-BYOC
            <!--Info à venir-->
          </div>
        </div>
      </div>
      <div class="gameTournament col-xs-12 col-sm-6 col-md-4">
        <a ui-sref="smashBrosUltimate"></a>
        <img ng-src="../Img/GamingArena/ARENA-SuperSmashBrosUltimate_1600w.jpg">
        <div class="wrapperTextGame">
          <div class="nameGame">
            Smash Bros Ultimate
          </div>
          <div class="numberTournament">
            32 slots NO-BYOC
            <!--Info à venir-->
          </div>
        </div>
      </div>
      <div class="gameTournament col-xs-12 col-sm-6 col-md-4">
        <a ui-sref="dragonBallFighterZ"></a>
        <img ng-src="../Img/GamingArena/ARENA-Dragon_Ball_FighterZ_Logo_1600w.png">
        <div class="wrapperTextGame">
          <div class="nameGame">
            Dragon Ball FighterZ
          </div>
          <div class="numberTournament">
            32 slots NO-BYOC
            <!--Info à venir-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
