<div ng-controller="ListPermissionsCtrl as lstPermissions">
  <input type="search" ng-model="filter" placeholder="Filter les Permissions" />
  <button type="button" ng-show="lstPermissions.data.tab !== 1" ng-click="selectAll()" class="btn btn-xs btn-danger">Tout sélectionner</button>
  <button type="button" ng-show="lstPermissions.data.tab !== 1" ng-click="unselectAll()" class="btn btn-xs btn-warning">Tout désélectionner</button>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th class="col-xs-2">
          #
        </th>
        <th class="col-xs-10">
          Permissions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="permission in lstPermissions.data.permissions | orderBy : 'name' | filter : filter" ng-click="lstPermissions.data.tab !== 1 && setSelected(permission)" ng-class="{success: permission.allowed}">
        <td>
          <button ng-show="lstPermissions.data.tab === 1" ng-click="removePermission(permission)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
          <div ng-hide="lstPermissions.data.tab === 1">
            {{::permission.allowed === true}}
          </div>
        </td>
        <td>
          {{::permission.name}}
        </td>
      </tr>
    </tbody>
  </table>
</div>