<div ng-controller="AdminListBanUsersCtrl as lstUsers">
  <input type="search" ng-model="filter.pseudo" placeholder="Filter les utilisateurs" />
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th class="col-xs-10">
          Utilisateurs
        </th>
        <th class="col-xs-2 text-center">
          Débannir ?
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in lstUsers.data.banList | orderBy : 'pseudo' | filter : filter">
        <td>
          {{::user.pseudo}}
        </td>
        <td>
          <button permission permission-only="'canUnBan'" ng-click="unbanUser(user)" class="btn btn-success center-block"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>