<div ng-controller="adminLiveCtrl as live">
  <div class="row">
    <div class="col-xs-12">
      <button type="button" ng-click="toogleLive()" class="btn btn-info">Toogle Live</button>
      <button type="button" ng-click="Somevideo()" class="btn btn-info">Vidéo Prez</button>
      <button type="button" ng-click="youtubeLive()" class="btn btn-info">Live</button>
      <br/><br/>
      <div class="embed-responsive embed-responsive-16by9">
        <!-- Use 'youtube-video' as an element or attribute. -->
        <youtube-video video-id="youtubeAdminLive" player="bestPlayer" player-vars="playerVars"></youtube-video>
      </div>
    </div>
  </div>
</div>