<div ng-controller="ListPagesCtrl as lstPages">
  <div class="col-md-3">
    <input ng-model="filter" placeholder="Filter les Pages" />
    <button type="button" ng-click="selectAll()" class="btn btn-xs btn-danger">Tout sélectionner</button>
    <button type="button" ng-click="unselectAll()" class="btn btn-xs btn-warning">Tout désélectionner</button>
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Etats
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="page in lstPages.data.pageList | orderBy : 'name' | filter : filter" ng-click="setSelected($index, page)" ng-class="{success: page.allowed}">
          <td>
            <input type="checkbox" ng-model="page.allowed">
          </td>
          <td>
            {{page.name}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>