<div ng-controller="ListRolesCtrl as lstRoles">
  <div class="col-md-4">
    <input ng-model="filter" placeholder="Filter les Roles" />
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Roles
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="role in lstRoles.data.roleList | orderBy : 'name' | filter : filter" ng-click="setSelected($index, role)" ng-class="{success: $index === idSelectedElement}">
          <td>
            <button ng-click="removeRow($index)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
          <td>
            {{role.name}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>