<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stream CSGO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div ng-app="frontPlayer">
    <div class="playlist">
        <ul>
            <li><a ng-click="controller.setVideo(0)">Pale Blue Dot</a></li>
            <li><a ng-click="controller.setVideo(1)">Big Buck Bunny</a></li>
        </ul>
    </div>
</div>
<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/socket.io/lib/socket.js"></script>
<script src="js/io.js"></script>
<script src="js/main.js"></script>
</body>
</html>