@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.eot?') format('eot'), 
	     url('../fonts/BebasNeue.otf')  format('opentype'),
	     url('../fonts/BebasNeue.woff') format('woff'), 
	     url('../fonts/BebasNeue.ttf')  format('truetype'),
	     url('../fonts/BebasNeue.svg#BebasNeue') format('svg');
}

@media (max-width:768px) {
    .container {
      margin-top: 30px;
    }
}

@media (min-width:768px) {
  .admin {
    margin-top: 30px;
  }
}



body {
  overflow-x: hidden;
  /*word-wrap: break-word;*/
  padding-top: 35px;
  height: 100%;
  background: -webkit-gradient(linear, 100% 0, 0 0, from(#000), to(#000));
  background: -webkit-linear-gradient(to right, #000, #000);
  background: -moz-linear-gradient(to right, #000, #000);
  background: -o-linear-gradient(to right, #000, #000);
  background: linear-gradient(to right, #000, #000),
              linear-gradient(to right,#7EB400,  #7EB400),
              url(../img/background-body.png);

  background-repeat: no-repeat,
                     no-repeat,
                     repeat;   
  background-size: 100% 10px,
                   100% 449px,
                   auto auto;
}

/*body{*/
  /*word-wrap: break-word;*/
/*  height: 100%;*/
/*  background: linear-gradient(to right,#000,  #000),*/
/*              linear-gradient(to right,#7EB400,  #7EB400),*/
/*              url(../img/background-body.png);*/

/*  background-repeat:  no-repeat,*/
/*  										no-repeat,*/
/*  										repeat;   */
/*  background-size:	100% 10px,*/
/*  									100% 370px,*/
/*  									auto auto;*/
/*}*/
  

.navbar a {
  outline : none;
}

/* unvisited link */
/*a:link {*/
/*    color: red !important;*/
/*}*/

/* visited link */
/*a:visited {*/
/*    color: green !important;*/
/*}*/

/* mouse over link */
/*a:hover {*/
/*    color: hotpink !important;*/
/*}*/

/* selected link */
/*a:active {*/
/*    color: blue !important;*/
/*}*/

p {
  color: #000;
  /*white-space: nowrap;*/
}

/*h1, h2, h3, h4, h5, h6, p{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/


h1, h2, .panel-title , h4.modal-title {
  font-family: 'BebasNeue';
  /*font-size: 2.40em;*/
  color: #88B205;
}

h3.panel-title {
    font-size: 26px;
}

h1 span {
  color: #000;
}

h1 small {
  /*font-size: 0.5em;*/
}

.page-header h1 {
  margin-top: -45px;
}

h3 {
  /*font-family: 'Source Sans Pro',*/
  /*             sans-serif;*/
  /*font-weight: 400;*/
  /*font-style: italic;*/
  /*font-size: 1em;*/
}

h4 {
  font-family: 'Source Sans Pro',
               sans-serif;
  /*font-weight: 400;*/
  color: #000;
}

h5 {
  font-family: 'Droid Serif',
               serif;
  /*font-weight: 400;*/
  /*font-style: italic;*/
  /*font-size: 1.45em;*/
  color: #000;
}

h6 {
  font-family: 'BebasNeue';
  /*font-weight: 100;*/
  font-style: normal;
  /*font-size: 2em;*/
  /*color: #939393;*/
}

hr {
  color: #000;
  background-color: #000;
  height: 1px;
}

.logo {
  margin-top: -15px;
  max-height: 50px;
}

.body {
  margin-top: 15px;
}

.greenLine {
  position: fixed;
  background-color: #7EB400;
  height: 2px;
  width: 100%;
  margin-top: 1px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal-content {
  /*background-color: #f2f2f2;*/
  /*background: url(../img/background-body.png);*/
  /*background-repeat: repeat;*/
}


/*.table-command {*/
/*  margin-top: -16px;*/
/*  margin-left: -15px;*/
/*  font-size: 1px;*/
/*}*/
/*.table-command tbody tr td .btn-group {*/
/*  width: 1%; display: table-cell;*/
/*}*/
.clear {
  width: 50%; 
}
.clear .btn-group {
  width: 100%;
  display: table-cell;
}

/*.table-command thead tr th, .table-command tbody tr td {*/
/*  padding-left: 0;*/
/*  padding-right: 0;*/
/*  margin-left: 0;*/
/*  margin-right: 0;*/
/*}*/

/*.table-snack thead {*/
/*  display: inline-block;*/
/*}*/

/*.table-snack {*/
/*  height: 315px;*/
/*}*/

/*.table-snack table thead th {*/
/*  text-align: center;*/
/*  min-width: 65px;*/
/*}*/

/*.table-snack table tbody {*/
  /*height: 243px;*/
/*  overflow-y: scroll;*/
/*  text-align: center;*/
/*  min-width: 65px;*/
/*}*/

.table-snack table thead th {
  text-align: center;
  min-width: 65px;
}

.table-snack table tbody {
  overflow-y: scroll;
  text-align: center;
  min-width: 65px;
}








.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}



.modal {
  margin-top: 50px;
}



#wrapper {
	height: 100%;
	width: 100%;
	min-height: 200px;
	min-width: 900px;
	padding-top: 1px;
}
#slider {
	margin-top: 1px;
	height: 265px;
	overflow: hidden;
	background: url(../Img/ajax-loader.gif) center center no-repeat;
}
 
#slider .slide {
	position: relative;
	display: none;
	height: 265px;
	float: left;
	background-position: center right;
	cursor: pointer;
	border-left: 1px solid #fff;
}
 
#slider .slide:first-child {
	border: none;
}
 
#slider .slide.active {
	cursor: default;
}
 
#slider .slide-block {
	position: absolute;
	left: 20px;
	bottom: 15px;
	/*display: inline-block;*/
	/*width: 350px;*/
	/*width: 100%;*/
	background-color: #fff;
	background-color: rgba(255,255,255, 0.7);	
	padding: 5px;
	margin-right: 10px;
	font-size: 14px;
	color: #134B94;
	border: 1px solid #fff;
	overflow: hidden;
	border-radius: 4px;
}
 
#slider .slide-block:after {
	display: inline-block;
	width: 100%;
}
 
#slider .slide-block h4 {
	font-size: 25px;
	font-weight: bold;
	margin: 0 0 5px 0;
	line-height: 1;
}
#slider .slide-block p {
	margin: 0;
}