

.gameTournament{
  height:260px;
  overflow:hidden;
  margin-top:15px;
}

.gameTournament a{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  cursor:pointer;
  z-index:2;
}

.gameTournament img{
  height: 100%;
}

.gameTournament:after{
  content:'';
  background:#63DC13;
  opacity:0.8;
  position:absolute;
  display:flex;
  top:100%;
  left:15px;
  width:calc(100% - 15px);
  height:100%;
  transition:all 0.3s ease;
}

.wrapperTextGame{
  width:100%;
  height:100%;
  top:15%;
  left:15px;
  display:flex;
  opacity:0;
  justify-content:center;
  align-items:center;
  align-content:center;
  position:absolute;
  transition:all 1s ease;
  z-index: 1;
  flex-direction:column;
}

.gameTournament:hover:after{
  top:0;
}

.gameTournament:hover .wrapperTextGame{
  opacity:1;
  top:0;
}

.tournament{
  margin-bottom:100px;
}

.nameGame, .numberTournament{
  width:calc(100% - 15px);
  display:flex;
  position:relative;
  justify-content:center;
  align-items:center;
  align-content:center;
}

.nameGame{
  font-size:1.6em;
}

.numberTournament{
  font-size:1.2em;
}

.numberTournament:after{
  content:'+';
  position:absolute;
  width:50px;
  height:50px;
  top:100%;
  left:50%;
}

.additionalInfos{
  display:flex;
  justify-content:space-between;
  margin-top:40px;
  flex-direction:row;
}

.tournementRegistration * {
  color:white;
}

.tournementRegistration {
  border:none;
  height:80px;
  width:100%;
  border-radius:5px;
  background:#74DC13;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:1.6em;
  box-shadow:0px 4px 12px 0px rgba(116,220,19,0.8);
  text-transform:uppercase;
  transition:all 0.8s ease;
  &:hover{
     box-shadow:0px 4px 30px 0px rgba(116,220,19,0.8);
    transition:all 0.3s ease;
    color:white;
  }
}