<!DOCTYPE html>
<html ng-app="GamingGen">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#004d00">
    
    <title>Gaming-Gen</title>
    
    <base href="/">
    
    <link rel="icon" href="img/favicon.ico"/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    
    <!-- build:css css/min.css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
    <link rel="stylesheet" href="Style/jasny-bootstrap.min.css">
    <link rel="stylesheet" href="Style/main.css">
    <link rel="stylesheet" href="Style/loading-bar.css" media="all">
    <!-- endbuild -->
    
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-alpha.5/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <!-- build:js js/main.min.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-fr-FR.js"></script>
    <script type="text/javascript" src="Javascript/Lib/jasny-bootstrap.min.js"></script>
    <script type="text/javascript" src="Javascript/Lib/jquery.carouFredSel-6.2.0-packed.js"></script>
    
    <script type="text/javascript" src="Javascript/app.js"></script>
    
    <script type="text/javascript" src="Javascript/Controllers/AppControllers.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/HistoShopController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/HistoSnackController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/HomeController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/LiveController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/MainController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/ShopController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/SnackController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/CommentController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/ArticleController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/ArticleListController.js"></script>
    
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminArticleController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminLiveController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminMenuSnackController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminShopController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminSnackController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminBanController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminListBansController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminListUsersController.js"></script>
    
    <script type="text/javascript" src="Javascript/Factories/SocketIO.js"></script>
    <!--<script type="text/javascript" src="Javascript/Factories/HttpBuffer.js"></script>-->
    <script type="text/javascript" src="Javascript/Services/Slider.js"></script>
    <script type="text/javascript" src="Javascript/Services/AuthService.js"></script>
    <script type="text/javascript" src="Javascript/Services/ContainerService.js"></script>
    <script type="text/javascript" src="Javascript/Locales/angular-locale_fr-fr.js"></script>
    <script type="text/javascript" src="Javascript/Services/UserService.js"></script>
    
    <script type="text/javascript" src="Javascript/tinyMCE/bower_components/tinymce-dist/tinymce.js"></script>
    <script type="text/javascript" src="Javascript/tinyMCE/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    
    <script type="text/javascript" src="Javascript/Lib/angular-youtube-embed.min.js"></script>
    <script type="text/javascript" src="Javascript/Lib/loading-bar.js"></script>
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="https://player.twitch.tv/js/embed/v1.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
      $(document).ready(function() {
        $(".lirearticle").hover(function(){
        $(".h4article").addClass("blanc");
      });
      
    	$(".closelire").click(function(){
          $(".pushvocation").removeClass("hover");
        });
      });
    </script>
  </head>
  
  <body ng-controller="mainCtrl">
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        
        <!-- Inscription Modal -->
        <div class="modal fade container" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content inscriptionModal">
              <div class="blocInscriptionModal row">
                <div class="modal-header col-md-6">
                  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                  <span class="backgroundInscription"></span>
                </div>
                <div class="modal-body col-md-6">
                  <form ng-submit="formRegistration.$valid && submitRegister()" name="formRegistration" novalidate>
                    <div class="row">
                      <div class="col-md-6" ng-class="{ 'has-error' : formRegistration.firstName.$invalid && !formRegistration.firstName.$pristine }">
                        <div class="form-group">
                          <label for="firstName">Nom : </label>
                          <input type="text" ng-model="firstName" class="form-control" id="firstName" name="firstName" placeholder="Nom" required/>
                        </div>
                      </div>
                      <div class="col-md-6" ng-class="{ 'has-error' : formRegistration.lastName.$invalid && !formRegistration.lastName.$pristine }">
                        <div class="form-group">
                          <label for="lastName">Prenom : </label>
                          <input type="text" ng-model="lastName" class="form-control" id="lastName" name="lastName" placeholder="Prenom" required/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6" ng-class="{ 'has-error' : (formRegistration.pseudo.$invalid && !formRegistration.pseudo.$pristine) || isPseudoExist }">
                        <div class="form-group has-feedback">
                          <label for="pseudo">Pseudo : </label>
                          <input type="text" ng-model="pseudo" ng-model-options="{ debounce: 1000 }" class="form-control" id="pseudo" name="pseudo" placeholder="Pseudo" required/>
                          <span ng-show="isPseudoExist" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                          <span ng-show="isPseudoExist" id="emailStatus" class="sr-only">(warning)</span>
                        </div>
                      </div>
                      <div class="col-md-6" ng-class="{ 'has-error' : formRegistration.password.$invalid && !formRegistration.password.$pristine }">
                        <div class="form-group">
                          <label for="password">Mot de Passe : </label>
                          <input type="password" ng-model="password" class="form-control" id="password" name="password" placeholder="Mot de Passe" required/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6" ng-class="{ 'has-error' : formRegistration.zip.$invalid && !formRegistration.zip.$pristine }">
                        <div class="form-group">
                          <label for="email">Code Postale : </label>
                          <input type="number" min="0100" max="99999" ng-model="zip" class="form-control" id="zip" name="zip" placeholder="Code Postale" required/>
                        </div>
                      </div>
                      <div class="col-md-6" ng-class="{ 'has-error' : formRegistration.birthday.$invalid && !formRegistration.birthday.$pristine }">
                        <div class="form-group">
                          <label for="email">Date de Naissance : </label>
                          <input type="date" ng-model="birthday" class="form-control" id="birthday" name="birthday" placeholder="Date de Naissance" required/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" ng-class="{ 'has-error' : (formRegistration.email.$invalid && !formRegistration.email.$pristine) || isMailExist }">
                        <div class="form-group has-feedback">
                          <label for="email">Email : </label>
                          <input type="email" ng-model="email" ng-model-options="{ debounce: 1000 }" class="form-control" id="email" name="email" placeholder="Email" required/>
                          <span ng-show="isMailExist" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                          <span ng-show="isMailExist" id="emailStatus" class="sr-only">(warning)</span>
                        </div>
                      </div>
                    </div>
                    <div class="bottomFooter row">
                      <button type="submit" ng-click="formRegistration.$valid && submitRegister()" class="btnForm ValidInscription" ng-disabled="formRegistration.$invalid" data-dismiss="modal">Envoyer</button>
                      <button type="button" id="closeRegister" class="btnForm CancelInscription" data-dismiss="modal">Annuler</button>
                    </div>
                    <div class="row">
                      <div ng-show="isPseudoExist" class="alert alert-danger" role="alert">Ce pseudo existe déjà</div>
                        <div ng-show="isMailExist" class="alert alert-danger" role="alert">Cette adresse mail existe déjà</div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Connexion Modal -->
        <div class="modal fade container" id="connectionModal" tabindex="-1" role="dialog" aria-labelledby="connectionModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content inscriptionModal">
              <div class="blocInscriptionModal row">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  
                <div class="modal-header col-md-6">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <span class="backgroundInscription"></span>
                </div>
                <div class="modal-body col-md-6">
                  <form ng-submit="submitLogin()" name="formConnection" novalidate>
                    <div class="row">
                      <div class="col-md-12 form-group" ng-class="{ 'has-error' : formConnection.connectionEmail.$invalid && !formConnection.connectionEmail.$pristine }">
                        <label for="connectionEmail">Email : </label>
                        <input type="email" ng-model="connectionEmail" class="form-control" id="connectionEmail" placeholder="Email" required/>
                      </div>
                      <div class="col-md-12 form-group" ng-class="{ 'has-error' : formConnection.connectionPassword.$invalid && !formConnection.connectionPassword.$pristine }">
                        <label for="connectionPassword">Mot de Passe : </label>
                        <input type="password" ng-model="connectionPassword" class="form-control" id="connectionPassword" placeholder="Mot de Passe" required/>
                      </div>
                    </div>
                  </form>
                  <div class="bottomFooter row">
                    <button type="submit" ng-click="submitLogin()" class="btnForm ValidInscription" ng-disabled="formConnection.$invalid" data-dismiss="modal">Envoyer</button>
                    <button type="button" id="closeConnection" class="btnForm CancelInscription" data-dismiss="modal">Annuler</button>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" ui-sref="home"><img class="logo img-rounded" alt="Logo" ng-src="Img/General/Kit_Comm_LogoGeneBlanc.png"></a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li ui-sref-active="active" class="dropdown">
                  <a href="" class="displayBlockDropdown dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>Gaming Gen 6</span><img ng-src="../Img/Live/live-icone-16.png" ng-show="live.Youtube || live.Twitch"><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a ui-sref="competitions">Les compétitions</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 60"><a ui-sref="festival">Festival du jeu</a></li>
                    <li><a ui-sref="forum">Forum des métiers du digital</a></li>
                    <li><a ui-sref="plan">Le Plan</a></li>
                    <!--<li role="separator" class="divider"></li>-->
                    <li><a ui-sref="programme">Le Programme</a></li>
                    <!--<li role="separator" class="divider"></li>-->
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 10"><a ui-sref="snack.joueur.commande">Le Snack</a></li>
                    <li><a ui-sref="live">Live <img ng-src="../Img/Live/live-icone-16.png" ng-show="live.Youtube || live.Twitch"></a></li>
                  </ul>
                </li>
                <!--<li ui-sref-active="active" class="dropdown">-->
                <!--  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                <!--    Les Partenaires<span class="caret"></span>-->
                <!--  </a>-->
                  <!--<ul class="dropdown-menu">-->
                    <!--A remplacer avec ng-if ! Impossible d'utiliser Jquery pour gérer proprement le collapse des dropdown-->
                  <!--  <li><a ui-sref="snack.carte">La Carte</a></li>-->
                  <!--  <li><a ui-sref="snack.info">Infos Snack</a></li>-->
                  <!--  <li ng-show="User.isLoggedIn && User.accessLvl >= 10" role="separator" class="divider"></li>-->
                  <!--  <li ng-show="User.isLoggedIn && User.accessLvl >= 5"><a ui-sref="snack.joueur.commande">Commande Joueur</a></li>-->
                  <!--  <li ng-show="User.isLoggedIn && User.accessLvl >= 10" role="separator" class="divider"></li>-->
                  <!--  <li ng-show="User.isLoggedIn && User.accessLvl >= 10"><a ui-sref="snack.staff.commande" aria-expanded="false">Commande Staff</a></li>-->
                  <!--  <li ng-show="User.isLoggedIn && User.accessLvl >= 10"><a ui-sref="snack.staff.histo">Historique des commandes</a></li>-->
                  <!--  <li ng-show="User.isLoggedIn && User.accessLvl >= 10"><a ui-sref="snack.infoLive">Infos Event & Snack</a></li>-->
                  <!--</ul>-->
                <!--</li>-->
                <li ng-show="User.isLoggedIn && User.accessLvl >= 50">
                  <a class="autoCollapse" ui-sref="shop.order">Le magasin</a>
                <li>
                  <a class="autoCollapse" ui-sref="partenaires">Les Partenaires</a>
                </li>
                <li>
                  <a class="autoCollapse" ui-sref="news">News</a>
                </li>
                <li ui-sref-active="active" class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    L'association<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <!--snack.carte  A remplacer avec ng-if ! Impossible d'utiliser Jquery pour gérer proprement le collapse des dropdown-->
                    <li><a ui-sref="staff">L'équipe Gaming Gen</a></li>
                    <li><a ui-sref="events">Nos précédents événements</a></li>
                    <li><a ui-sref="media">Médias</a></li>
                    <li><a ui-sref="info.mention">Mentions légales</a></li>
                    <li><a ui-sref="info.contact">Contact</a></li>
                  </ul>
                </li>
                <div class="socialHeader">
                  <li class="socialBloc demiSocial" ng-hide="User.isLoggedIn">
                    <a href="" class="socialLink compte" data-toggle="modal" data-target="#registrationModal">S'inscrire</a>
                    <a href="" class="socialLink compte" data-toggle="modal" data-target="#connectionModal">Connexion</a>
                  </li>
                  <li ng-show="User.isLoggedIn" ui-sref-active="active" class="dropdown">
                    <div class="socialBloc demiSocial">
                      <a href="" class="dropdown-toggle mon-compte" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Mon Compte
                      </a>
                      <ul class="loggedmenu dropdown-menu">
                        <li></li>
                        <!--<li role="separator" class="divider"></li>-->
                        
                        <li><a ui-sref="member.profil"><i class="fa fa-user-secret fa-fw" aria-hidden="true"></i> Mon profil</a></li>
                        <li><a ui-sref="member.team"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Ma Team</a></li>
                        <li><a ui-sref="member.stats"><i class="fa fa-line-chart fa-fw" aria-hidden="true"></i> Mes Stats</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                        <li ng-click="Logout()"><a href=""><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Déconnexion</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="socialBloc demiSocial">
                    <a href="" class="socialLink heart"><img ng-src="../Img/General/heart.svg"></a>
                    <a href="https://www.instagram.com/gaming_gen_festival/" target="_blank" class="socialLink instagram"><img ng-src="../Img/General/instagram.svg"></a>
                  </li>
                  <li class="socialBloc">
                    <a href="https://twitter.com/gaminggenlan" target="_blank" class="socialLink twitter"><img ng-src="../Img/General/twitter.svg"></a>
                    <a href="https://www.facebook.com/gaming.gen.lan/" target="_blank" class="socialLink facebook"><img ng-src="../Img/General/facebook.svg"></a>
                  </li>
                </div>
              </ul>
              <!--<li class="dropdown">-->
              <!--    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
              <!--      <i class="fa fa-language" aria-hidden="true"></i><span class="caret"></span>-->
              <!--    </a>-->
              <!--    <ul class="dropdown-menu">-->
              <!--      <li><a ui-sref="language.french" data-toggle="tooltip" data-placement="bottom" title="Available on BETA version">Français</a></li>-->
              <!--      <li><a ui-sref="language.english" data-toggle="tooltip" data-placement="bottom" title="Available on BETA version">English</a></li>-->
              <!--    </ul>-->
              <!--  </li>-->
              
            </div>
          </div>
        </nav>
        <ul class="orangebox">
                <li class="bouton-inscription" ng-hide="User.isLoggedIn">
                  <a href="" class="btnins toCollapse" data-toggle="modal" data-target="#registrationModal">
                    <span>Créer un compte</span> <div class="hover"></div>
                  </a>
                </li>
                <li class="bouton-connexion" ng-hide="User.isLoggedIn">
                  <a href="" class="btnins toCollapse" data-toggle="modal" data-target="#connectionModal">
                    <span>Connexion</span>  <div class="hover"></div>
                  </a>
                </li>
                <!--A remplacer avec ng-if ! Impossible d'utiliser Jquery pour gérer proprement le collapse des dropdown-->
                <!--ng-if="isConnected && isAdmin" -->
                <li ng-show="User.isLoggedIn && User.accessLvl >= 50" ui-sref-active="active" class="dropdown loggedici">
                  <div class="admin-container"><a href="" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs" aria-hidden="true"></i> Admin
                  </a>
                  <ul class="loggedmenu dropdown-menu">
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 55"><a ui-sref="admin.tournois"><i class="fa fa-trophy fa-fw" aria-hidden="true"></i> Tournois</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 50"><a ui-sref="admin.players"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Joueurs & Teams</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 60"><a ui-sref="admin.stream"><i class="fa fa-twitch fa-fw" aria-hidden="true"></i> Stream</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 51" role="separator" class="divider"></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 51"><a ui-sref="admin.accueil"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Accueil</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 51"><a ui-sref="admin.articles"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Articles</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 51"><a ui-sref="admin.slider"><i class="fa fa-slideshare fa-fw" aria-hidden="true"></i> Slider</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 52" role="separator" class="divider"></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 52"><a ui-sref="admin.snack"><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> Snack</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 52"><a ui-sref="admin.shop"><i class="fa fa-shopping-bag fa-fw" aria-hidden="true"></i> Shop</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 52"><a ui-sref="shop.histo"><i class="fa fa-history fa-fw" aria-hidden="true"></i> Shop Histo</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 70" role="separator" class="divider"></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 70"><a ui-sref="admin.ban"><i class="fa fa-ban fa-fw" aria-hidden="true"></i> BAN</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 90" role="separator" class="divider"></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 90"><a ui-sref="admin.roles"><i class="fa fa-lock fa-fw" aria-hidden="true"></i> Rôles & Permissions</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 99" role="separator" class="divider"></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 99"><a ui-sref="admin.bdd"><i class="fa fa-database fa-fw" aria-hidden="true"></i> BDD</a></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 50" role="separator" class="divider"></li>
                    <li ng-show="User.isLoggedIn && User.accessLvl >= 50"><a ui-sref="admin.about"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> A propos de</a></li>
                  </ul></div>
                </li>
                <!--A remplacer avec ng-if ! Impossible d'utiliser Jquery pour gérer proprement le collapse des dropdown-->
                <li ng-show="User.isLoggedIn" ui-sref-active="active" class="dropdown loggedici">
                  <a class="bienvenue-user-pseudo"><img ng-src="../Img/Profils/defaultProfil.jpg" alt="..." class="resizeProfil img-circle"> Bienvenue  <b>{{User.pseudo}}</b></a>
                  <div class="mon-compte-container">
                    <a href="" class="dropdown-toggle mon-compte" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      Mon Compte
                    </a>
                    <ul class="loggedmenu dropdown-menu">
                      <li></li>
                      <!--<li role="separator" class="divider"></li>-->
                      
                      <li><a ui-sref="member.profil"><i class="fa fa-user-secret fa-fw" aria-hidden="true"></i> Mon profil</a></li>
                      <li><a ui-sref="member.team"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Ma Team</a></li>
                      <li><a ui-sref="member.stats"><i class="fa fa-line-chart fa-fw" aria-hidden="true"></i> Mes Stats</a></li>
                      <!--<li role="separator" class="divider"></li>-->
                      <li ng-click="Logout()"><a href=""><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Déconnexion</a></li>
                    </ul>
                  </div>
                </li>
                <!--<li class="dropdown">-->
                  <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                    <!--<i class="fa fa-language" aria-hidden="true"></i><span class="caret"></span>-->
                  <!--</a>-->
                  <!--<ul class="dropdown-menu">-->
                    <!--<li><a ui-sref="language.french" data-toggle="tooltip" data-placement="bottom" title="Available on BETA version">Français</a></li>-->
                    <!--<li><a ui-sref="language.english" data-toggle="tooltip" data-placement="bottom" title="Available on BETA version">English</a></li>-->
                  <!--</ul>-->
                <!--</li>-->
              </ul>
    <!--  </div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--  <div class="col-md-12">-->
        <!--<div class="body">-->
          
           <!--Messages d'erreur -->
          <div id="msgError" class="alert alert-danger popUpMessage" role="alert"></div>
          <div id="msgInfo" class="alert alert-info popUpMessage" role="alert"></div>
          
        <!--  <section ng-if="showSlider" class="hidden-xs">-->
        <!--    <div id="wrapper">-->
        <!--    	<div id="slider">-->
            	
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide1.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>GamingGen 5</h4>-->
        <!--    				<p>Nos Tomb Rider ;)</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide2.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>L'accueil</h4>-->
        <!--    				<p>Comme toujours un qui travail et 3 qui regarde.</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide3.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>La GG6 bientôt</h4>-->
        <!--    				<p>Commentaire ici...</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide4.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>La GG6 bientôt</h4>-->
        <!--    				<p>Commentaire ici...</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide5.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>La GG6 bientôt</h4>-->
        <!--    				<p>Commentaire ici...</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide6.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>La GG6 bientôt</h4>-->
        <!--    				<p>Commentaire ici...</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide7.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>La GG6 bientôt</h4>-->
        <!--    				<p>Commentaire ici...</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide8.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>La GG6 bientôt</h4>-->
        <!--    				<p>Commentaire ici...</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide9.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>La GG6 bientôt</h4>-->
        <!--    				<p>Commentaire ici...</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide10.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>La GG6 bientôt</h4>-->
        <!--    				<p>Commentaire ici...</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide11.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>La GG6 bientôt</h4>-->
        <!--    				<p>Commentaire ici...</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide12.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>La GG6 bientôt</h4>-->
        <!--    				<p>Commentaire ici...</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    		<div class="slide" style="background-image: url(../Img/Slider/Slide13.jpg);">-->
        <!--    			<div class="slide-block">-->
        <!--    				<h4>La GG6 bientôt</h4>-->
        <!--    				<p>Commentaire ici...</p>-->
        <!--    			</div>-->
        <!--    		</div>-->
             
        <!--    	</div>-->
        <!--    </div>-->
        <!--  </section>-->
          
          <div class="slider">
           <a href="#"></a>
          </div>
            <!--<div class="row">-->
              <!--<div class="pull-right col-md-2">-->
              <!--  <div class="chat hidden-sm hidden-xs">-->
              <!--    <iframe src="https://www.twitch.tv/darkterra01/chat?popout=" class="embed-responsive-item" frameborder="0" scrolling="no" height="500" width="340"></iframe>-->
              <!--  </div>-->
              <!--</div>-->
            <!--</div>-->
            
            <div ng-class="mainView">
              <div ui-view></div>
            </div>
        <!--</div>-->
        
        <!--<div class="grid grid-pad">-->
        <!--  <div class="iconact col-6-12">-->
        <!--    <span><a href="membres.html">Membres</a><img ng-src="img/membres.gif"></span>-->
        <!--    <span><a href="inscrits.html">Teams</a><img class="lazy" ng-src="img/team.gif"></span>-->
        <!--    <span><a href="galerie.html">Galeries</a><img ng-src="img/galerie.gif"></span>-->
        <!--    <span><a href="contact.html">Contact</a><img ng-src="img/contact.gif"></span>-->
        <!--    <span><a href="media.html">Media</a><img ng-src="img/media.gif"></span>-->
        <!--  </div><!--iconact-->
        <!--  <div class="socialico push-right">-->
        <!--    <span class="fbsoc col-3-12"><a href="https://fr-fr.facebook.com/gaming.gen.lan" target="_blank"></a></span>-->
        <!--    <span class="twisoc col-3-12"><a href="https://twitter.com/gaminggenlan" target="_blank"></a></span>-->
        <!--  </div><!--socialico-->
        <!--</div><!--iconact-->
        <!--<div class="pushfoot"></div>-->
        
        <!--<footer>-->
        <!--  <div class="menufooter">-->
        <!--    <span class="ment">-->
        <!--      <a href="index.html">Accueil</a>-->
        <!--      <a href="asso.html">Qui sommes nous?</a>-->
        <!--      <a href="mentleg.html">Mentions légales</a>-->
        <!--    </span>-->
        <!--  </div>-->
        <!--</footer>-->
    <!--  </div>-->
    <!--</div>-->
      <div class="footer fullwidth">
        <div class="superFooter row">
          <a ui-sref="#">
            <div class="reassurance Zero col-xs-12 col-sm-6 col-md-3">
              <h2>TU VEUX EN SAVOIR PLUS ?</h2>
              <p>On fait des réunions sympas.</p>
            </div>
          </a>
          <a ui-sref="#">
            <div class="reassurance First col-xs-12 col-sm-6 col-md-3">
              <img src='../Img/General/benevoleAFAIRE.svg'/>
              <h2>DEVENIR BÉNÉVOLE</h2>
              <p>On fait des réunions sympas.</p>
            </div>
          </a>
          <a ui-sref="#">
            <div class="reassurance Second col-xs-12 col-sm-6 col-md-3">
              <img src='../Img/exposantAFAIRE.svg'/>
              <h2>DEVENIR EXPOSANT</h2>
              <p>On fait des réunions sympas.</p>
            </div>
          </a>
          <a ui-sref="#">
            <div class="reassurance Third col-xs-12 col-sm-6 col-md-3">
              <h2>TU VEUX EN SAVOIR PLUS ?</h2>
              <p>On fait des réunions sympas.</p>
            </div>
          </a>
        </div>
        <div class="absolufooter row">
          <div class="gamingillustration col-xs-12 col-sm-2 col-sm-offset-1">
            <a ui-sref="home"><img alt="Logo" ng-src="Img/General/Kit_Comm_LogoGeneBlanc.png"></a>
          </div>
          <div class="footerLinks col-xs-12 col-sm-8">
            <a href="" data-toggle="modal" data-target="#registrationModal">Inscription</a>
            <a href="" data-toggle="modal" data-target="#connectionModal">Connexion</a>
            <a ui-sref="#">Facebook</a>
            <a ui-sref="#">Twitter</a>
            <a ui-sref="#">Instagram</a>
            <a ui-sref="#">Accueil</a>
            <a ui-sref="#">Gaming gen 6</a>
            <a ui-sref="#">Compétitions</a>
            <a ui-sref="#">Festival du jeu</a>
            <a ui-sref="#">Plan</a>
            <a ui-sref="#">Programme</a>
            <a ui-sref="#">Live</a>
            <a ui-sref="#">Partenaires</a>
            <a ui-sref="#">Galerie</a>
            <a ui-sref="#">Association</a>
            <a ui-sref="#">Admin</a>
            <a ui-sref="#">Infos utiles</a>
          </div>
        </div>
      </div>
  </body>
</html>