<!DOCTYPE html>
<html ng-app="GamingGen">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#004d00">
    
    <!--<title>Gaming Gen: e-sport, geek & gaming events since 2005</title>-->
    <title>Gaming Gen 7 : 30-31 mars 2019, Gardanne - geek gaming esport</title>
    
    <base href="/">
    
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="Img/General/favicon.ico"/>
    <link rel="icon" type="image/png" href="Img/General/favicon.png"/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" defer>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" defer>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" defer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.1.4/css/datetimepicker.min.css" defer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.min.css" defer>
    <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css" defer>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.css" defer>-->
    
    
    
    <!-- build:css css/min.css async -->
    <link rel="stylesheet" href="Style/Lib/please-wait.css" async>
    <link rel="stylesheet" href="Style/Lib/jasny-bootstrap.min.css" async>
    <link rel="stylesheet" href="Style/Lib/loading-bar.css" async>
    <link rel="stylesheet" href="Style/Lib/classie.css" async>
    <link rel="stylesheet" href="Style/main.css" async>
    <!--<link rel="stylesheet" href="Style/Lib/simplebar.css" async>-->
    <!-- endbuild -->
  </head>
  
  <body ng-controller="mainCtrl">
    <!-- Splash Screen -->
    <div class="inner" ng-view>
    </div>
    <script type="text/javascript" src="please-wait.min.js"></script>
    <script type="text/javascript">
      if (window.matchMedia('(display-mode: standalone)').matches) {
        console.log('Progressive Web App Launch');
      }
      else {
        console.log('Classic Web App Launch');
      }
      
      console.log('--------------------- START ---------------------')
      
      window.loading_screen = window.pleaseWait({
        logo: "Img/logowh.svg",
        backgroundColor: '#232323',
        loadingHtml: "<p class='loading-message'>Pour accéder au site, faites R2 - croix - carré - R1 - R1 - gauche - croix - rond... ou patientez quelques secondes...</p><div class='spinner'></div>"
      });
      
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/ServiceWorker.js').then(function(reg) {
            // registration worked
            if(reg.installing) {
              console.log('Service worker installing');
            } else if(reg.waiting) {
              console.log('Service worker installed');
            } else if(reg.active) {
              console.log('Service worker active');
            }
            console.log('Registration succeeded. Scope is ' + reg.scope);
          }).catch(function(error) {
            // registration failed
            console.log('Registration failed with ' + error);
          });
        });
      };
    </script>
    
    <!-- Load Frameworks -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bowser/1.7.0/bowser.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    
    
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js" async></script>
    
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.6/angular-resource.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-animate.min.js" defer></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-beta.3/angular-ui-router.min.js" defer></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js" defer></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.1.4/js/datetimepicker.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-datetimepicker/1.1.4/js/datetimepicker.templates.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/angular.image-appear/1.11.3/ng-image-appear.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js" defer></script>
    
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.js" defer></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.min.js" defer></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.7/mask.min.js" defer></script>-->
    
    
    <script type="text/javascript" src="https://www.youtube.com/iframe_api" defer></script>
    <script type="text/javascript" src="https://player.twitch.tv/js/embed/v1.js" defer></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.6.6/tinymce.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-tinymce/0.0.19/tinymce.min.js" defer></script>
    
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" defer></script>
    
    <script type="text/javascript" src="/socket.io.slim.js" defer></script>
    
    <!-- build:js js/lib.min.js defer -->
    <script type="text/javascript" src="Javascript/Lib/angular-permission.min.js" defer></script>
    <script type="text/javascript" src="Javascript/Lib/angular-permission-ui.min.js" defer></script>
    <script type="text/javascript" src="Javascript/Lib/jasny-bootstrap.min.js" defer></script>
    <!--<script type="text/javascript" src="Javascript/Lib/jquery.carouFredSel-6.2.0-packed.js" defer></script>-->
    <script type="text/javascript" src="Javascript/Lib/angular-youtube-embed.min.js" defer></script>
    <script type="text/javascript" src="Javascript/Lib/classie.js" defer></script>
    <script type="text/javascript" src="Javascript/Lib/ngclipboard.min.js" defer></script>
    <!--<script type="text/javascript" src="Javascript/Lib/simplebar.js" defer></script>-->
    <!-- endbuild -->
    
    
    <!-- build:js js/main.min.js defer -->
    <script type="text/javascript" src="Javascript/Controllers/AppControllers.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/HistoShopController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/HistoSnackController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/HomeController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/ArenaController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/WorldController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/CounterStrikeController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/HearthStoneController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/ClashRoyaleController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/TournamentsController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/LiveController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/MainController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/ShopController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/SnackController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/PartnersController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/ArticleController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/NewsController.js"></script>
    
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminArticleController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminLiveController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminMenuSnackController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminShopController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminSnackController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminBanController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminListBanUsersController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminListNonBanUsersController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminRolesControllers.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminListUsersController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminListRolesController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminModifRoleController.js"></script>
    <script type="text/javascript" src="Javascript/Controllers/Admin/AdminListPermissionsController.js"></script>
    
    <script type="text/javascript" src="Javascript/Factories/SocketIO.js"></script>
    <script type="text/javascript" src="Javascript/Services/RolesService.js"></script>
    <!--<script type="text/javascript" src="Javascript/Services/Slider.js"></script>-->
    <script type="text/javascript" src="Javascript/Services/AuthService.js"></script>
    <script type="text/javascript" src="Javascript/Services/ContainerService.js"></script>
    <script type="text/javascript" src="Javascript/Services/UserService.js"></script>
    <script type="text/javascript" src="Javascript/Locales/angular-locale_fr-fr.js"></script>
    
    <script type="text/javascript" src="Javascript/app.js"></script>
    <!-- endbuild -->
    
    
    <!-- message Cookie -->
    <input class="checkbox-cb" id="checkbox-cb" type="checkbox" />
    <div class="cookie-bar">
      <span class="message">Ce site internet utilise les cookies pour fonctionner de la meilleure des façons. En visitant ce site, vous acceptez les <a href="#">closes.</a></span>
      <span class="mobile">Ce site internet utilise les cookies<a href="#">En savoir plus</a></span>
      <label for="checkbox-cb" class="close-cb">x</label>
    </div>
    
    <!-- Inscription Modal -->
    <div class="modal fade container" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content inscriptionModal">
          <div class="blocInscriptionModal row">
            <div class="modal-header col-md-6">
              <span class="titreModalConnection">Inscription</span>
              <span class="backgroundInscription"></span>
            </div>
            <div class="modal-body col-md-6">
              <form ng-submit="formRegistration.$valid && submitRegister()" name="formRegistration" novalidate>
                <div class="row">
                  <div class="col-xs-6" ng-class="{ 'has-error' : formRegistration.firstName.$invalid && !formRegistration.firstName.$pristine }">
                    <div class="form-group">
                      <input type="text" ng-model="firstName" class="form-control" id="firstName" name="firstName" placeholder="Nom*" required/>
                      <label for="firstName">Nom*</label>
                    </div>
                  </div>
                  <div class="col-xs-6" ng-class="{ 'has-error' : formRegistration.lastName.$invalid && !formRegistration.lastName.$pristine }">
                    <div class="form-group">
                      <input type="text" ng-model="lastName" class="form-control" id="lastName" name="lastName" placeholder="Prenom*" required/>
                      <label for="lastName">Prenom*</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6" ng-class="{ 'has-error' : (formRegistration.pseudo.$invalid && !formRegistration.pseudo.$pristine) || isPseudoExist }">
                    <div class="form-group has-feedback">
                      <input type="text" ng-model="pseudo" ng-model-options="{ debounce: 1000 }" class="form-control" id="pseudo" name="pseudo" placeholder="Pseudo*" required/>
                       <label for="pseudo">Pseudo* </label>
                      <span ng-show="isPseudoExist" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                      <span ng-show="isPseudoExist" id="emailStatus" class="sr-only">(warning)</span>
                    </div>
                  </div>
                  <div class="col-xs-6" ng-class="{ 'has-error' : formRegistration.password.$invalid && !formRegistration.password.$pristine }">
                    <div class="form-group">
                      <input type="password" ng-model="password" class="form-control" id="password" name="password" placeholder="Mot de Passe*" required/>
                      <label for="password">Mot de Passe*</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6" ng-class="{ 'has-error' : formRegistration.zip.$invalid && !formRegistration.zip.$pristine }">
                    <div class="form-group">
                      <input type="number" min="0100" max="99999" ng-model="zip" class="form-control" id="zip" name="zip" placeholder="Code Postal*" required/>
                      <label for="email">Code Postal*</label>
                    </div>
                  </div>
                  <div class="col-xs-6" ng-class="{ 'has-error' : formRegistration.birthday.$invalid && !formRegistration.birthday.$pristine }">
                    <div class="form-group">
                      <!--<div class="dropdown">-->
                      <!--  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">-->
                      <!--    <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>-->
                      <!--    </div>-->
                      <!--  </a>-->
                      <!--  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
                      <!--    <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>-->
                      <!--  </ul>-->
                      <!--</div>-->
                      <input type="date" ng-model="birthday" class="form-control" id="birthday" name="birthday" placeholder="Date de Naissance*" required/>
                      <label for="email">Date de Naissance*</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12" ng-class="{ 'has-error' : (formRegistration.email.$invalid && !formRegistration.email.$pristine) || isMailExist }">
                    <div class="form-group has-feedback">
                      <input type="email" ng-model="email" ng-model-options="{ debounce: 1000 }" class="form-control" id="email" name="email" placeholder="Email*" required/>
                      <label for="email">Email*</label>
                      <span ng-show="isMailExist" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                      <span ng-show="isMailExist" id="emailStatus" class="sr-only">(warning)</span>
                    </div>
                  </div>
                </div>
                 <div class="row">
                <div ng-show="isPseudoExist" class="alert alert-danger" role="alert">Ce pseudo existe déjà</div>
                <div ng-show="isMailExist" class="alert alert-danger" role="alert">Cette adresse mail existe déjà</div>
              </div>
                <div class="bottomFooter row">
                  <a type="submit" ng-click="formRegistration.$valid && submitRegister()" class="btnForm ValidInscription" ng-disabled="formRegistration.$invalid">S'inscrire</a>
                  <a type="button" id="closeRegister" class="btnForm CancelInscription" data-dismiss="modal">Annuler</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <!-- à propo Modal -->
    <div class="modal fade container" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content inscriptionModal">
          <div class="blocInscriptionModal smallModalConnexion row">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              
            <div class="modal-header col-md-6">
              <span class="titreModalConnection">A propos</span>
                <span class="backgroundInscription"></span>
            </div>
            <div class="modal-body col-md-6">
              Nom WebApp: <strong>{{::about.name}}</strong>
              <br /><br />
              Master: <img src="https://circleci.com/gh/GamingGen/Site-GamingGen/tree/master.svg?style=svg">
              <br />
              Develop: <img src="https://circleci.com/gh/GamingGen/Site-GamingGen/tree/develop.svg?style=svg">
              <br /><br />
              Version: <p>{{::about.version}}</p>
              <br />
              Auteur: <p>{{::about.author}}</p>
              <br />
              Contributeurs : 
              <p ng-repeat="contributor in about.contributors">{{::contributor}}</p>
              <!--<div class="bottomFooter row">-->
              <!--  <a type="submit" ng-click="submitLogin()" class="btnForm ValidInscription" ng-disabled="formConnection.$invalid">Connexion</a>-->
              <!--  <a type="button" id="closeConnection" class="btnForm CancelInscription" data-dismiss="modal">Annuler</a>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Connexion Modal -->
    <div class="modal fade container" id="connectionModal" tabindex="-1" role="dialog" aria-labelledby="connectionModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content inscriptionModal">
          <div class="blocInscriptionModal smallModalConnexion row">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              
            <div class="modal-header col-md-6">
              <span class="titreModalConnection">Connexion</span>
                <span class="backgroundInscription"></span>
            </div>
            <div class="modal-body col-md-6">
              <form ng-submit="submitLogin()" name="formConnection" novalidate>
                <div class="row">
                  <div class="col-md-12 form-group" ng-class="{ 'has-error' : formConnection.connectionEmail.$invalid && !formConnection.connectionEmail.$pristine }">
                    <input type="email" ng-model="connectionEmail" class="form-control" id="connectionEmail" placeholder="Email" required/>
                    <label for="connectionEmail">Email* : </label>                  
                  </div>
                  <div class="col-md-12 form-group" ng-class="{ 'has-error' : formConnection.connectionPassword.$invalid && !formConnection.connectionPassword.$pristine }">
                    <input type="password" ng-model="connectionPassword" class="form-control" id="connectionPassword" placeholder="Mot de Passe" required/>
                    <label for="connectionPassword">Mot de Passe* : </label>
                </div>
                </div>
              </form>
              <div class="bottomFooter row">
                <a type="submit" ng-click="submitLogin()" class="btnForm ValidInscription" ng-disabled="formConnection.$invalid">Connexion</a>
                <a type="button" id="closeConnection" class="btnForm CancelInscription" data-dismiss="modal">Annuler</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Contact Modal -->
    <div class="modal fade container" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content inscriptionModal">
          <div class="blocInscriptionModal smallModalConnexion row">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header col-md-6">
              <span class="titreModalConnection">Nous contacter</span>
                <span class="backgroundInscription"></span>
            </div>
            <div class="modal-body col-md-6">
              <form ng-submit="submitLogin()" name="formConnection" novalidate>
                <div class="row">
                  <div class="col-md-12 form-group" ng-class="{ 'has-error' : formConnection.contactObjet.$invalid && !formConnection.contactObjet.$pristine }">
                    <select name="contactObjet" ng-model="contactObjet">
                      <option value="Devenir partenaire">Devenir partenaire</option>
                      <option value="Informations Gaming Arena">Informations Gaming Arena</option>
                      <option value="Informations Gaming World">Informations Gaming World</option>
                      <option value="Rejoindre l'équipe Gaming Gen">Rejoindre l'équipe Gaming Gen</option>
                      <option value="Autre">Autre</option>
                    </select>
                    <label for="contactObjet">Objet* : </label>                  
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-12 form-group" ng-class="{ 'has-error' : formConnection.contactEmail.$invalid && !formConnection.contactEmail.$pristine }">
                    <input type="email" ng-model="contactEmail" class="form-control" id="contactEmail" placeholder="Email" required/>
                    <label for="contactEmail">Email* : </label>                  
                  </div>
                  <div class="col-md-12 form-group" ng-class="{ 'has-error' : formConnection.contactMessage.$invalid && !formConnection.contactMessage.$pristine }">
                    <textarea ng-model="contactMessage" class="form-control" id="contactMessage" placeholder="Votre message ici ..." required></textarea>
                    <label for="contactMessage">Message : </label>
                </div>
                </div>
              </form>
              <div class="bottomFooter row">
                <a type="submit" ng-click="sendMail()" class="btnForm ValidInscription" ng-disabled="formConnection.$invalid">Envoyer</a>
                <a type="button" ng-click="clearMail()" id="closeConnection" class="btnForm CancelInscription" data-dismiss="modal">Annuler</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <div class="socialHeader hidden-xs">
            <!--<li class="socialBloc demiSocial" ng-hide="User.isLoggedIn">-->
              <!--<a href="" class="socialLink compte compteTop" data-toggle="modal" data-target="#registrationModal">S'inscrire</a>-->
            <!--  <a href="https://www.eventbrite.fr/o/gaming-generation-14418911767" class="socialLink compte compteTop" target="_blank">Billeterie</a>-->
              <!--<a href="https://gg7-csgo.eventbrite.fr/" class="socialLink compte compteTop" target="_blank">Billeterie</a>-->
            <!--  <a href="" class="socialLink compte compteTop" data-toggle="modal" data-target="#connectionModal">Connexion</a>-->
            <!--</li>-->
            <!--A remplacer avec ng-if ! Impossible d'utiliser Jquery pour gérer proprement le collapse des dropdown-->
            <!--ng-if="isConnected && isAdmin" -->
            
            <!--Remettre le code suivant dans le ng-Show lorsque Dolz aura créer les bonnes classes : User.isLoggedIn-->
            <li ng-show="User.isLoggedIn" ui-sref-active="active" class="socialBloc demiSocial demiSocial-alternate dropdown">
                <div class="bienvenue-user-pseudo-alternate socialLink compte dropdown-toggle">
                  <img ng-src="../Img/Profils/defaultProfil.jpg" alt="..." class="resizeProfil img-circle"> Bienvenue  <b>{{User.pseudo}}</b>
                </div>
                <a href="" class="socialLink compte dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Mon Compte
                </a>
                <ul class="socialLink compte dropdown-menu">
                  <!--<li ng-show="User.accessLvl > 5"><a ui-sref="member.profil"><i class="fa fa-user-secret fa-fw" aria-hidden="true"></i> Mon profil</a></li>-->
                  <!--<li ng-show="User.accessLvl > 5"><a ui-sref="member.team"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Ma Team</a></li>-->
                  <!--<li ng-show="User.accessLvl > 5"><a ui-sref="member.stats"><i class="fa fa-line-chart fa-fw" aria-hidden="true"></i> Mes Stats</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <li><a ui-sref="about" ng-click="getAbout()" data-toggle="modal" data-target="#aboutModal"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> A propos de</a></li>
                  <li role="separator" class="divider"></li>
                  <li ng-click="Logout()"><a href=""><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Déconnexion</a></li>
                </ul>
            </li>
            <li class="socialBloc demiSocial">
              <!--<a href="" class="socialLink heart"><img ng-src="../Img/General/heart.svg"></a>-->
              <a href="" class="socialLink compte compteTop" data-toggle="modal" data-target="#connectionModal">Connexion</a>
              <a href="https://www.instagram.com/gaming_gen_festival/" target="_blank" class="socialLink instagram"><img ng-src="../Img/General/instagram.svg"></a>
            </li>
            <li class="socialBloc">
              <a href="https://twitter.com/gaminggenlan" target="_blank" class="socialLink twitter"><img ng-src="../Img/General/twitter.svg"></a>
              <a href="https://www.facebook.com/gaming.gen.festival" target="_blank" class="socialLink facebook"><img ng-src="../Img/General/facebook.svg"></a>
            </li>
            
          </div>
          <li ng-show="User.isLoggedIn && User.accessLvl >= 50" ui-sref-active="active" class="dropdown loggedici">
              <div class="admin-container admin-alternate">
                <a href="" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cogs" aria-hidden="true"></i> Admin
                </a>
                <ul class="loggedmenu dropdown-menu">
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 55"><a ui-sref="admin.tournois"><i class="fa fa-trophy fa-fw" aria-hidden="true"></i> Tournois</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 50"><a ui-sref="admin.players"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Joueurs & Teams</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 60"><a ui-sref="admin.stream"><i class="fa fa-twitch fa-fw" aria-hidden="true"></i> Stream</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 51" role="separator" class="divider"></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 51"><a ui-sref="admin.accueil"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Accueil</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 51"><a ui-sref="admin.articles"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Articles</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 51"><a ui-sref="admin.slider"><i class="fa fa-slideshare fa-fw" aria-hidden="true"></i> Slider</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 52" role="separator" class="divider"></li>
                        
                        <li ng-show="User.isLoggedIn && User.accessLvl >= 5"><a ui-sref="snack.joueur.commande">Commande Joueur</a></li>
                        <li ng-show="User.isLoggedIn && User.accessLvl >= 10"><a ui-sref="snack.infoLive">Infos Event & Snack</a></li>
      
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 10"><a ui-sref="snack.staff.commande" aria-expanded="false">Commande Staff</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 10"><a ui-sref="snack.staff.histo">Historique des commandes</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 52"><a ui-sref="admin.snack"><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> Snack</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 52" role="separator" class="divider"></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 52"><a ui-sref="admin.shop"><i class="fa fa-shopping-bag fa-fw" aria-hidden="true"></i> Shop</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 52"><a ui-sref="shop.histo"><i class="fa fa-history fa-fw" aria-hidden="true"></i> Shop Histo</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 70" role="separator" class="divider"></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 70"><a ui-sref="admin.ban"><i class="fa fa-ban fa-fw" aria-hidden="true"></i> BAN</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 90" role="separator" class="divider"></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 90"><a ui-sref="admin.roles"><i class="fa fa-lock fa-fw" aria-hidden="true"></i> Rôles & Permissions</a></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 99" role="separator" class="divider"></li>
                  <li ng-show="User.isLoggedIn && User.accessLvl >= 99"><a ui-sref="admin.bdd"><i class="fa fa-database fa-fw" aria-hidden="true"></i> BDD</a></li>
                </ul>
              </div>
            </li>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home"><img class="logo img-rounded" alt="Logo" src="Img/logowh.svg"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active" class="dropdown">
              <a href="" class="displayBlockDropdown dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span>Gaming Gen</span><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a ui-sref="world">Gaming World</a></li>
                <li><a ui-sref="arena">Gaming Arena</a></li>
                <!--<li><a ui-sref="tournaments">Nos tournois</a></li>-->
                <!--<li ng-show="User.isLoggedIn && User.accessLvl >= 60"><a ui-sref="404">Festival du jeu</a></li>-->
                <!--<li><a ui-sref="404">Le Plan</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a ui-sref="404">Le Programme</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li ng-show="User.isLoggedIn && User.accessLvl >= 10"><a ui-sref="snack.joueur.commande">Le Snack</a></li>-->
              </ul>
            </li>
            <li ng-show="User.isLoggedIn && User.accessLvl >= 50">
              <!--<a class="autoCollapse" ui-sref="shop.order">Le magasin</a>-->
            <li>
              <!--<a class="autoCollapse" ui-sref="partner">Les Partenaires</a>-->
            </li>
            <li>
              <a class="autoCollapse" ui-sref="news">News</a>
            </li>
            <li>
              <!--<a class="autoCollapse" ui-sref="live">Live <img ng-src="../Img/Live/live-icone-16.png" ng-show="live.Youtube || live.Twitch"></a>-->
              
              <!-- A décommenter lorsque la com sera prête -->
              <!--<a href="http://po.st/gg7-billetteries" target="_blank">Billeteries</a>-->
            </li>
            <!--<li ui-sref-active="active" class="dropdown">-->
            <!--  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
            <!--    L'association<span class="caret"></span>-->
            <!--  </a>-->
            <!--  <ul class="dropdown-menu">-->
            <!--    <li><a ui-sref="404">L'équipe Gaming Gen</a></li>-->
            <!--    <li><a ui-sref="404">Nos précédents événements</a></li>-->
            <!--    <li><a ui-sref="404">Médias</a></li>-->
            <!--    <li><a ui-sref="404">Mentions légales</a></li>-->
            <!--    <li><a ui-sref="404">Contact</a></li>-->
            <!--  </ul>-->
            <!--</li>-->
            
            <!--<li><a ui-sref="admin.articles"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Articles</a></li>-->
              
            <div class="socialHeader socialHeaderXS hidden-sm hidden-md hidden-lg">
              <li class="socialBloc demiSocial" ng-hide="User.isLoggedIn">
                <!--<a href="" class="socialLink compte" data-toggle="modal" data-target="#registrationModal" target="_blank">S'inscrire</a>-->
                <!--<a href="https://www.eventbrite.fr/o/gaming-generation-14418911767" class="socialLink compte" target="_blank">Billeterie</a>-->
                <a href="https://gg7-csgo.eventbrite.fr/" class="socialLink compte" target="_blank">Billeterie</a>
                <a href="" class="socialLink compte" data-toggle="modal" data-target="#connectionModal">Connexion</a>
              </li>
              <!--Remettre le code suivant dans le ng-Show lorsque Dolz aura créer les bonnes classes : User.isLoggedIn-->
              <li ng-show="" ui-sref-active="active" class="socialBloc demiSocial dropdown">
                <div class="socialBloc demiSocial">
                  <a href="" class="socialLink compte dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Mon Compte
                  </a>
                  <ul class="socialLink compte dropdown-menu">
                    <!--<li ng-show="User.accessLvl > 1"><a ui-sref="member.profil"><i class="fa fa-user-secret fa-fw" aria-hidden="true"></i> Mon profil</a></li>-->
                    <!--<li ng-show="User.accessLvl > 1"><a ui-sref="member.team"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Ma Team</a></li>-->
                    <!--<li ng-show="User.accessLvl > 1"><a ui-sref="member.stats"><i class="fa fa-line-chart fa-fw" aria-hidden="true"></i> Mes Stats</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <li><a ui-sref="about" data-toggle="modal" data-target="#aboutModal"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> A propos de</a></li>
                    <li role="separator" class="divider"></li>
                    <li ng-click="Logout()"><a href=""><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Déconnexion</a></li>
                  </ul>
                </div>
              </li>
              <li class="socialBloc demiSocial">
                <a href="https://www.facebook.com/events/114518145810302" class="socialLink heart"><img ng-src="../Img/General/heart.svg"></a>
                <a href="https://www.instagram.com/gaming_gen_festival/" target="_blank" class="socialLink instagram"><img ng-src="Img/General/instagram.svg"></a>
              </li>
              <li class="socialBloc">
                <a href="https://twitter.com/gaminggenlan" target="_blank" class="socialLink twitter"><img ng-src="Img/General/twitter.svg"></a>
                <a href="https://www.facebook.com/gaming.gen.festival" target="_blank" class="socialLink facebook"><img ng-src="Img/General/facebook.svg"></a>
              </li>
            </div>
            <li ng-if="User.multilang" class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-language" aria-hidden="true"></i><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a ui-sref="language.french" data-toggle="tooltip" data-placement="bottom" title="Available on BETA version">Français</a></li>
                <li><a ui-sref="language.english" data-toggle="tooltip" data-placement="bottom" title="Available on BETA version">English</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <ul ng-show="showSlider" class="orangebox">
        <!--A décommenter dès que l'inscription est terminé-->
        <!--<a href="" class="btnins toCollapse" data-toggle="modal" data-target="#registrationModal">-->
        <!--  Créer un compte-->
        <!--</a>-->
        
        <!--A supprimer dès que l'inscription est terminé-->
    <!--    <a ng-hide="User.isLoggedIn" href="https://www.eventbrite.fr/o/gaming-generation-14418911767" target="_blank"><img src="Img/General/eventbritebutton.png" alt="Eventbrite - Gaming Gen #Level6 23-24 Sept." /></a>-->
    
        <!-- A décomenter lorsque la com sera prête-->
        <!--<a ng-hide="User.isLoggedIn" href="http://po.st/gg7-billetteries" target="_blank"><img src="Img/General/eventbritebutton.png" alt="Eventbrite - Gaming Gen #Level7 30-31 Mars." /></a>-->

      
      <!--A décommenter dès que l'inscription est terminé-->
      <!--<li class="bouton-connexion hover" ng-hide="User.isLoggedIn">-->
        <!--<a href="" class="btnins toCollapse" data-toggle="modal" data-target="#connectionModal">-->
        <!--  Connexion-->
        <!--</a>-->
      <!--</li>-->
      <!--A remplacer avec ng-if ! Impossible d'utiliser Jquery pour gérer proprement le collapse des dropdown-->
    <!--  <li ng-show="User.isLoggedIn" ui-sref-active="active" class="dropdown loggedici">-->
    <!--    <div class="bienvenue-user-pseudo">-->
    <!--      <img ng-src="../Img/Profils/defaultProfil.jpg" alt="..." class="resizeProfil img-circle"> Bienvenue  <b>{{User.pseudo}}</b>-->
    <!--    </div>-->
    <!--    <div class="mon-compte-container">-->
    <!--      <a href="" class="dropdown-toggle mon-compte" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
    <!--        Mon Compte-->
    <!--      </a>-->
    <!--      <ul class="loggedmenu dropdown-menu">-->
            <!--<li ng-show="User.accessLvl > 1"><a ui-sref="member.profil"><i class="fa fa-user-secret fa-fw" aria-hidden="true"></i> Mon profil</a></li>-->
            <!--<li ng-show="User.accessLvl > 1"><a ui-sref="member.team"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Ma Team</a></li>-->
            <!--<li ng-show="User.accessLvl > 1"><a ui-sref="member.stats"><i class="fa fa-line-chart fa-fw" aria-hidden="true"></i> Mes Stats</a></li>-->
            <!--<li ng-show="User.accessLvl > 1" role="separator" class="divider"></li>-->
    <!--        <li><a ui-sref="about" data-toggle="modal" data-target="#aboutModal"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> A propos de</a></li>-->
    <!--        <li role="separator" class="divider"></li>-->
    <!--        <li ng-click="Logout()"><a href=""><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Déconnexion</a></li>-->
    <!--      </ul>-->
    <!--    </div>-->
    <!--  </li>-->
    </ul>
    <!--Messages d'erreur -->
    <div id="msgError" class="alert alert-danger popUpMessage" role="alert"></div>
    <!--<div id="msgError" class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" role="alert"></div>-->
    <div id="msgInfo" class="alert alert-info popUpMessage" role="alert"></div>
      
      <!--<section ng-show="showSlider" class="slider hidden-xs">-->
      <!--  <div id="wrapper">-->
      <!--  	<div id="slider">-->
          
      <!--  		<div class="slide" style="background-image: url(../Img/General/slide2.jpg);">-->
      <!--  			<div class="slide-block">-->
      <!--  				<h4>GamingGen 5</h4>-->
      <!--  				<p>Nos Tomb Rider ;)</p>-->
      <!--  			</div>-->
      <!--  		</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide2.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>L'accueil</h4>-->
        		<!--		<p>Comme toujours un qui travail et 3 qui regarde.</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide3.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>La GG6 bientôt</h4>-->
        		<!--		<p>Commentaire ici...</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide4.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>La GG6 bientôt</h4>-->
        		<!--		<p>Commentaire ici...</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide5.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>La GG6 bientôt</h4>-->
        		<!--		<p>Commentaire ici...</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide6.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>La GG6 bientôt</h4>-->
        		<!--		<p>Commentaire ici...</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide7.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>La GG6 bientôt</h4>-->
        		<!--		<p>Commentaire ici...</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide8.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>La GG6 bientôt</h4>-->
        		<!--		<p>Commentaire ici...</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide9.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>La GG6 bientôt</h4>-->
        		<!--		<p>Commentaire ici...</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide10.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>La GG6 bientôt</h4>-->
        		<!--		<p>Commentaire ici...</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide11.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>La GG6 bientôt</h4>-->
        		<!--		<p>Commentaire ici...</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide12.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>La GG6 bientôt</h4>-->
        		<!--		<p>Commentaire ici...</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
        		<!--<div class="slide" style="background-image: url(../Img/Slider/Slide13.jpg);">-->
        		<!--	<div class="slide-block">-->
        		<!--		<h4>La GG6 bientôt</h4>-->
        		<!--		<p>Commentaire ici...</p>-->
        		<!--	</div>-->
        		<!--</div>-->
          
      <!--  	</div>-->
      <!--  </div>-->
      <!--</section>-->
    
    <div ng-show="showSlider" class="slider" >
      <img ng-src="{{slider}}" ng-srcset="{{sliderSRCSET}}" alt="Slider">
    </div>
    
    <!--<button id="btnAdd">Install PWA</button>-->
    
    <div ng-class="mainView">
      <div ui-view autoscroll="false"></div>
    </div>
    <div class="footer fullwidth">
      <div class="superFooter row">
        <div class="reassurance Zero col-xs-12 col-sm-6 col-md-3">
          <a ui-sref="news">
            <h2>TU VEUX EN SAVOIR PLUS ?</h2>
            <p></p>
          </a>
        </div>
        <div class="reassurance First col-xs-12 col-sm-6 col-md-3">
          <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdSuPG1NjKIn7Y5W0mCQs0JNFv4LwbavQRiE2ql-_U5J279SA/viewform?c=0&w=1&usp=send_form">
          <img src='../Img/General/benevole.svg'/>
            <h2>DEVENIR BÉNÉVOLE</h2>
            <p>On fait des réunions sympas.</p>
          </a>
        </div>
        <div class="reassurance Second col-xs-12 col-sm-6 col-md-3">
          <a target="_blank" href="mailto:contact@gaming-gen.fr?subject=Devenir Exposant: GG7">
            <img src='../Img/exposant.svg'/>
            <h2>DEVENIR EXPOSANT</h2>
            <p>Grande renommée pour toi !</p>
          </a>
        </div>
        <div class="reassurance Third col-xs-12 col-sm-6 col-md-3">
          <a ui-sref="arena">
            <img src='../Img/tournoireassurance.svg' width="168"/>
            <h2>PARTICIPER AUX TOURNOIS</h2>
            <p>Devenir le pro de tes rêves.</p>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="gamingillustration col-xs-12 col-sm-2 col-sm-offset-1">
          <a ui-sref="home"><img alt="Logo" ng-src="Img/logowh.svg"></a>
        </div>
          <!--<div class="gamingillustration col-xs-12 col-sm-2 col-sm-offset-1">
            <a ui-sref="home"><img alt="Logo" src="Img/logowh.svg"></a>
          </div>-->
          <div class="footerLinks col-xs-12 col-sm-8">
            <a href="" ng-hide="User.isLoggedIn" data-toggle="modal" data-target="#registrationModal">Inscription</a>
            <a href="" ng-hide="User.isLoggedIn" data-toggle="modal" data-target="#connectionModal">Connexion</a>
            <a href="https://www.facebook.com/gaming.gen.festival" target="_blank" >Facebook</a>
            <a href="https://twitter.com/gaminggenlan" target="_blank" >Twitter</a>
            <a href="https://www.instagram.com/gaming_gen_festival/" target="_blank" >Instagram</a>
            <a ui-sref="home">Accueil</a>
            <!--<a ui-sref="404">Gaming Gen level 7</a>-->
            <!--<a ui-sref="404">Compétitions</a>-->
            <!--<a ui-sref="404">Festival du jeu</a>-->
            <!--<a ui-sref="404">Plan</a>-->
            <!--<a ui-sref="404">Programme</a>-->
            <a ui-sref="live">Live</a>
            <a ui-sref="news">News</a>
            <a ui-sref="arena">Tournois</a>
            <!--<a ui-sref="partner">Exposants et Partenaires</a>-->
            <!--<a ui-sref="404">Galerie</a>-->
            <!--<a ui-sref="404">Association</a>-->
            <!--<a ui-sref="404">Infos utiles</a>-->
            <a ui-sref="legalNotice">Mentions légales</a>
            <a href="" data-toggle="modal" data-target="#contactModal">Contact</a>
            <a href="" ng-click="toTheTop()">ScrollToTop</a>
        </div>
      </div>
    </div>
    
    <!-- Check if Angular is compatible, and remove the Splash Screen if Ok-->
    <script>
    
    
    
    
      
      
      // let deferredPrompt;
      
      // const btnAdd = document.getElementById('btnAdd');
      // window.addEventListener('beforeinstallprompt', (e) => {
      //       console.log('---------------- beforeinstallprompt fired... ----------------');
      //   // Prevent Chrome 67 and earlier from automatically showing the prompt
      //   e.preventDefault();
      //   // Stash the event so it can be triggered later.
      //   deferredPrompt = e;
        
      //   console.log('----------- deferredPrompt: ', deferredPrompt);
        
      //   // Update UI notify the user they can add to home screen
      //   btnAdd.style.display = 'block';
      // });
      
      // btnAdd.addEventListener('click', (e) => {
      //   // hide our user interface that shows our A2HS button
      //   btnAdd.style.display = 'none';
      //   // Show the prompt
      //   deferredPrompt.prompt();
      //   // Wait for the user to respond to the prompt
      //   deferredPrompt.userChoice
      //     .then((choiceResult) => {
      //       if (choiceResult.outcome === 'accepted') {
      //         console.log('User accepted the A2HS prompt');
      //       } else {
      //         console.log('User dismissed the A2HS prompt');
      //       }
      //       deferredPrompt = null;
      //     });
      // });

    
    
    
    
      var minWidth = 10;
      var everythingLoaded = setInterval(function() {
        if (/loaded|complete/.test(document.readyState)) {
          clearInterval(everythingLoaded);
          if(typeof angular === 'undefined' || bowser.msie) {
            console.log('Oo, nous avons un problème avec Angular.JS...');
            setTimeout(function() {
              var pg = document.getElementsByClassName("pg-removing");
              while (pg.length)
              {
                pg[0].className = pg[0].className.replace(/\bpg-removing\b/g, "");
              }
              window.loading_screen.updateLoadingHtml("<p class='loading-message'>Sorry, this WebApp is not compatible with your Browser -_-</p>");
            }, 1000);
          }
          else if (window.screen.idth < minWidth) {
            console.log('Oo, nous avons un problème avec la résolution de l\'écran...');
            setTimeout(function() {
              var pg = document.getElementsByClassName("pg-removing");
              while (pg.length)
              {
                pg[0].className = pg[0].className.replace(/\bpg-removing\b/g, "");
              }
              window.loading_screen.updateLoadingHtml("<p class='loading-message'>Sorry, this WebApp is not compatible with your Browser -_-</p>");
            }, 1000);
          }
          else {
            console.log('Tout semble correct, l\'application décolle !');
            window.loading_screen.finish();
            
            new WOW().init();
            
            ///////////////////////////////////////////////////////////////////////////////////////////////////
            if ('storage' in navigator && 'estimate' in navigator.storage) {
              navigator.storage.estimate().then(({usage, quota}) => {
                console.log(`Using ${usage} out of ${quota} bytes.`);
              }).catch(error => {
                console.error('Loading storage estimate failed:');
                console.log(error.stack);
              });
            } else {
              console.error('navigator.storage.estimate API unavailable.');
            }
            ///////////////////////////////////////////////////////////////////////////////////////////////////
            
            
// navigator.storageQuota.queryInfo("temporary").then(function(info) {
//   console.log('JYO');
//   console.log(info.quota);
//   // Result: <quota in bytes>
//   console.log(info.usage);
//   // Result: <used data in bytes>
// });
            
            particlesJS.load('particles-js', 'Conf/particles.json', function() {
              console.log('callback - particles.js config loaded');
            });
            
            //Google Analitics Tracking Code for http://darkterra.fr
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments);},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m);
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          
            ga('create', 'UA-91437932-1', 'auto');
            ga('send', 'pageview');
          
            // Hotjar Tracking Code for http://darkterra.fr 
            (function(h,o,t,j,a,r){
              h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments);};
              h._hjSettings={hjid:390971,hjsv:5};
              a=o.getElementsByTagName('head')[0];
              r=o.createElement('script');r.async=1;
              r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
              a.appendChild(r);
            })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
          }
        }
      }, 100);
    </script>
  </body>
</html>