<!DOCTYPE html>
<html ng-app="store">
  <head>
    <title>Gaming-gen</title>
    
    <link rel="icon" href="img/favicon.ico"/>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="lib/jquery.bxslider.css"/>
    <link rel="stylesheet" type="text/css" href="style/fresco/fresco.css"/>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  
  <body>
    <!-- Modal -->
    <div class="md-modal md-effect-1" id="modal-1">
      <div class="md-content">
        <div class="insider">
          <h1>LOGIN</h1>
          <button onclick="window.location.replace('inscription.html');" class="insmodal btn btn-ins btn-insb icon-file">
            <span>Créer un compte</span>
          </button>
          <hr/>
          <div class="awake">
            <form action="login.html" method="POST">
              <div class="user"><img src="img/user.png"><input placeholder="Email" name="email"></div>
              <div class="verrou"><img src="img/verrou.png"> <input placeholder="Mot de passe" name="password">
                <button class="loupe goconnect" value="submit"><img src="img/goconnect.png"></button>
              </div> 
            </form>
          </div>
          <div class="mdp">
          <a href="#">Mot de passe oublié?</a>
          </div>
        </div>
        
        <button class="md-close">X</button>
      </div>
    </div>
    
    <!-- /Modal -->
    <div class="welcomeuser">
      <span class="user"></span>
      <a href="http://gaming-gen.fr/use/component/users/" data-modal="modal-1">Login</a>&nbsp;&nbsp;
      <a href="http://gaming-gen.fr/dev/component/users/?view=registration" data-modal="modal-1">Créer un compte</a>
    </div>
    <div class="conteneurgnral">
      <section class="header">
        <div class="top grid grid-pad">
          <div class="logo col-4-12"><a href="http://www.gaming-gen.fr" target="_self">
            <img src="img/logo.png"></a>
          </div><!--logo-->
          <div class="nav col-8-12">
            <ul>
              <li>
                <a href="index.html">Accueil</a>
              </li>
              <li>
                <a href="#">Tournois</a>
                <ul class="sousmenu">
                  <li>
                    <a href="more.html">CS:GO</a>
                  </li>
                  <li>
                    <a href="autres.html">Autres tournois</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="festival.html">Festival du Jeu</a>
              </li>
              <li>
                <a href="news.html">News</a>
              </li>
              <li>
                <a href="partner.html">Partenaires</a>
              </li>
              <li>
                <a href="galerie.html">Galerie</a>
              </li>
              <li>
                <a href="asso.html">L'association</a>
                <ul class="sousmenu media">
                  <li>
                    <a href="asso.html">L'équipe</a>
                  </li>
                  <li>
                    <a href="media.html">Press kit</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!--nav-->
        </div><!--top-->
        <ul class="bxslider">
          <li>
            <img src="slide/Slide-Festival-1.jpg" />
          </li>
          <li>
            <img src="slide/Slide-Festival-2.jpg" />
          </li>
          <li>
            <img src="slide/Slide-Festival-3.jpg" />
          </li>
        </ul>
      </section><!--header-->
      <section class="ddle">
        <div class="content grid grid-pad">
          <div class="titrearticle col-9-12">
            <h1>
              GAMING GEN 4 <span>- 15 - 17 MAI 2015</span>
            </h1>
          </div><!--titrearticle-->
          <div class="articletxt col-9-12">
            <div class="articleinfo col-7-12">
              <h5>
                Du 15 au 17 Mai 2015 à La Halle de Gardanne, l’univers du Jeu est à l’honneur : tournois et animations gratuites
              </h5>
              <hr class="col-5-12"/>
              <h4 class="col-12-12">
                Pour célébrer les 10 ans de sa 1ère aventure (CS Arena, Avril 2005, 60 joueurs), l’association Gaming Generation vous propose un événement inoubliable ! <br/>
                Tout l’univers du Jeu y sera représenté : une partie Festival (profitez d’une vingtaine de stands et d’animations gratuites pour tous) et une partie Tournois (200 joueurs vont se rassembler autour de 3 jours de compétitions acharnées).<br/><br/>
                Gaming Gen, le Jeu est dans nos gènes !
              </h4>
              <!--buttonmore-->
            </div><!--articleinfo-->
            <section class="buttonmore col-7-12">
              <button onclick="window.location.replace('festival.html');" class="btn btn-5 btn-5b icon-plus"><span><a href="more.html">Festival</a></span></button>
              <button onclick="window.location.replace('more.html');" class="btn btn-ins btn-insb icon-file"><span><a href="#">Tournois</a></span></button>
            </section>
            <div id="map_canvas" class="map_savnac">
            </div>
            
            <div class="blocpreviewnews" ng-controller="StoreController as store">
              <div ng-repeat="product in store.products">
                <a href="article4.html">
                  <h2>{{product.name}}</h2>
                </a>
                <hr class="sepanews"/>
                <div class="preznews grid">
                  <h5 class="col-3-12">{{product.price}}</h5>
                </div>
                <hr class="sepanews"/><br/>
                <h3>
                  Ami gamer, <br/>
                  {{product.description}}{...}
                  <br/>
                </h3><br/>
                <h3>
                  <a href="article4.html">Lire la suite</a>
                </h3>
                <hr/>
                <br/>
              </div>
            </div>
          </div><!--articletxt-->
          
          
          <div class="hotfix col-3-12">
            <h6>RECHERCHER</h6>
            <div class="rechloupe">
              <input form="Recherche">
              <button class="loupe" value="submit"><img src="img/loupe.jpg"></button>
            </div><!--rechloupe-->
            <div class="lastarticle">
              <div class="stats"> <span class="csgoimg col-1-4"></span> <h3>COUNTER-STRIKE:GO</h3> <h4>30 Teams / 32 Slots</h4>
                <progress id="avancement" value="85" max="100"></progress><br/>
                <a href="inscrits.html">Voir les inscrits/équipes</a>
              </div>
            </div><!--lastarticle-->
            <div class="surleforum">
            </div><!--surleforum-->
          </div><!--hotfix-->
        
        </div><!--content-->
        <div class="grid grid-pad">
          <div class="iconact col-6-12">
            <span><a href="membres.html">Membres</a><img src="img/membres.gif"></span>
            <span><a href="inscrits.html">Teams</a><img class="lazy" src="img/team.gif"></span>
            <span><a href="galerie.html">Galeries</a><img src="img/galerie.gif"></span>
            <span><a href="contact.html">Contact</a><img src="img/contact.gif"></span>
            <span><a href="media.html">Media</a><img src="img/media.gif"></span>
          </div><!--iconact-->
          <div class="socialico push-right">
            <span class="fbsoc col-3-12"><a href="https://fr-fr.facebook.com/gaming.gen.lan" target="_blank"></a></span>
            <span class="twisoc col-3-12"><a href="https://twitter.com/gaminggenlan" target="_blank"></a></span>
          </div><!--socialico-->
        </div><!--iconact-->
        <div class="pushfoot"></div>
        
        <footer>
          <div class="menufooter">
            <span class="ment">
              <a href="index.html">Accueil</a>
              <a href="asso.html">Qui sommes nous?</a>
              <a href="mentleg.html">Mentions légales</a>
            </span>
          </div>
        </footer><!--footer-->
      </section><!--ddle-->
    </div><!--conteneurgnral-->
    
    
    <!--Ajout des .JS-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!--<script type="text/javascript" src="js/fresco.js"></script>-->
    <!--<script type="text/javascript" src="js/modernizr.js"></script>-->
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>-->
    <!--<script type="text/javascript" src="js/classie.js"></script>-->
    <!--<script type="text/javascript" src="js/modalEffects.js"></script>-->
  </body>
</html>